In [437]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import numpy as np

# Парсинг студий и 1-комн.квартир, новостройки, не апартаменты

In [41]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=2&offer_type=flat&only_flat=1&only_foot=2&p={p}&region=1&room1=1&room9=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [42]:
header = ['link']
df1 = pd.DataFrame(data, columns = header)
df1.to_csv('/Users/krop/Downloads/cian_flats_23.08.24.csv', sep = ';', encoding = 'utf8')

In [47]:
df1 = df1.drop_duplicates()

In [48]:
import warnings
warnings.filterwarnings("ignore")

df1['price'] = np.NaN
df1['min_to_metro'] = np.NaN
df1['region_of_moscow'] = np.NaN
df1['total_area'] = np.NaN
df1['living_area'] = np.NaN
df1['floor'] = np.NaN
df1['number_of_floors'] = np.NaN
df1['construction_year'] = np.NaN
df1['is_new'] = 1
df1['is_apartments'] = 0
df1['ceiling_height'] = np.NaN
df1['number_of_rooms'] = 1
df1['key_rent'] = 0.18
df1

/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['min_to_metro'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['region_of_moscow'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['total_area'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['living_area'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['floor'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['number_of_floors'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['construction_year'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['is_new'] = 1
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['is_apartments'] = 0
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ceiling_height'] = np.NaN
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['number_of_rooms'] = 1
/var/folders/kr/kxfrm_l53gd46jk5xlk4_r2c0000gq/T/ipykernel_48498/3116891475.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['key_rent'] = 0.18

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040538/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
1,https://www.cian.ru/sale/flat/305679460/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
2,https://www.cian.ru/sale/flat/303506233/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
3,https://www.cian.ru/sale/flat/305679583/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
4,https://www.cian.ru/sale/flat/303859162/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,https://www.cian.ru/sale/flat/298481257/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
920,https://www.cian.ru/sale/flat/306031718/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
921,https://www.cian.ru/sale/flat/306031667/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
922,https://www.cian.ru/sale/flat/306031605/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
923,https://www.cian.ru/sale/flat/306256547/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18

In [49]:
df1.index = np.arange(0, len(df1))

In [53]:
df1

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040538/,36 852 900 ₽,6 мин.,ЦАО,"Общая площадь48,3 м²",NaN,NaN,Этаж5 из 8,Год сдачи2028,1,0,"Высота потолков3,3 м",1,0.18
1,https://www.cian.ru/sale/flat/305679460/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
2,https://www.cian.ru/sale/flat/303506233/,18 055 560 ₽,8 мин.,ЮАО,"Общая площадь39,7 м²",NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
3,https://www.cian.ru/sale/flat/305679583/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
4,https://www.cian.ru/sale/flat/303859162/,14 837 840 ₽,24 мин.,ЗАО,"Общая площадь38,6 м²",NaN,NaN,Этаж6 из 27,Год сдачи2027,1,0,"Высота потолков2,92 м",1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,https://www.cian.ru/sale/flat/298481257/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
909,https://www.cian.ru/sale/flat/306031718/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
910,https://www.cian.ru/sale/flat/306031667/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
911,https://www.cian.ru/sale/flat/306031605/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18
912,https://www.cian.ru/sale/flat/306256547/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,1,0.18

In [178]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df1)):
    print(j)
    url = df1['link'][j]
    r = requests.get(url)
    #sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df1['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df1['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df1['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df1['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df1['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        for i in range(0,4):
            if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                df1['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        for i in range(0,4):
            if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                df1['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        for i in range(0,4):
            if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                df1['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        for i in range(0,4):
            if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                df1['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        try:
            for i in range(0,4):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df1['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912

In [179]:
df1['price'].isna().sum()

726

In [181]:
df1 = df1.dropna(subset = 'price')

In [182]:
df1['price'].isna().sum()

0

In [184]:
df1.index = np.arange(0, len(df1))

In [185]:
df1

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040538/,36 852 900 ₽,6 мин.,ЦАО,"Общая площадь48,3 м²","Жилая площадь23,9",Этаж5 из 8,Этаж5 из 8,Год сдачи2028,1,0,"Высота потолков3,3 м",1,0.18
1,https://www.cian.ru/sale/flat/305679460/,16 739 900 ₽,17 мин.,ЮАО,"Общая площадь38,93 м²","Жилая площадь10,7",Этаж3 из 20,Этаж3 из 20,Год сдачи2024,1,0,"Высота потолков2,85 м",1,0.18
2,https://www.cian.ru/sale/flat/303506233/,18 055 560 ₽,8 мин.,ЮАО,"Общая площадь39,7 м²","Жилая площадь13,2",Этаж8 из 28,Этаж8 из 28,Год сдачи2026,1,0,Высота потолков3 м,1,0.18
3,https://www.cian.ru/sale/flat/305679583/,13 984 508 ₽,17 мин.,ЮАО,"Общая площадь24,93 м²","Жилая площадь12,3",Этаж6 из 20,Этаж6 из 20,Год сдачи2024,1,0,"Высота потолков2,85 м",1,0.18
4,https://www.cian.ru/sale/flat/303859162/,14 837 840 ₽,24 мин.,ЗАО,"Общая площадь38,6 м²","Жилая площадь21,6",Этаж6 из 27,Этаж6 из 27,Год сдачи2027,1,0,"Высота потолков2,92 м",1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,https://www.cian.ru/sale/flat/281574741/,10 299 306 ₽,19 мин.,НАО (Новомосковский),"Общая площадь20,7 м²","Жилая площадь8,3",Этаж12 из 16,Этаж12 из 16,Год сдачи2024,1,0,NaN,1,0.18
183,https://www.cian.ru/sale/flat/306255754/,10 254 030 ₽,12 мин.,СВАО,"Общая площадь27,2 м²","Жилая площадь13,4",Этаж25 из 33,Этаж25 из 33,Год сдачи2025,1,0,NaN,1,0.18
184,https://www.cian.ru/sale/flat/295899009/,10 330 303 ₽,откроется в 2024,НАО (Новомосковский),"Общая площадь36,5 м²","Жилая площадь13,9",Этаж2 из 13,Этаж2 из 13,Год сдачи2025,1,0,NaN,1,0.18
185,https://www.cian.ru/sale/flat/304450980/,10 285 934 ₽,6 мин.,СВАО,"Общая площадь33,2 м²",NaN,Этаж32 из 33,Этаж32 из 33,Год сдачи2025,1,0,NaN,1,0.18
186,https://www.cian.ru/sale/flat/306031605/,10 321 005 ₽,10 мин.,НАО (Новомосковский),"Общая площадь37,63 м²","Жилая площадь10,4",Этаж2 из 16,Этаж2 из 16,NaN,1,0,NaN,1,0.18

# Парсинг 2-комн.квартир, новостройки, не апартаменты

In [186]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=2&offer_type=flat&only_flat=1&only_foot=2&p={p}&region=1&room2=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [187]:
header = ['link']
df2 = pd.DataFrame(data, columns = header)
df2.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_2.csv', sep = ';', encoding = 'utf8')

In [188]:
df2 = df2.drop_duplicates()

In [189]:
import warnings
warnings.filterwarnings("ignore")

df2['price'] = np.NaN
df2['min_to_metro'] = np.NaN
df2['region_of_moscow'] = np.NaN
df2['total_area'] = np.NaN
df2['living_area'] = np.NaN
df2['floor'] = np.NaN
df2['number_of_floors'] = np.NaN
df2['construction_year'] = np.NaN
df2['is_new'] = 1
df2['is_apartments'] = 0
df2['ceiling_height'] = np.NaN
df2['number_of_rooms'] = 2
df2['key_rent'] = 0.18
df2

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040534/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
1,https://www.cian.ru/sale/flat/304900609/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303506169/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
3,https://www.cian.ru/sale/flat/292853214/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
4,https://www.cian.ru/sale/flat/303859195/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,https://www.cian.ru/sale/flat/302669455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
948,https://www.cian.ru/sale/flat/304435293/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
949,https://www.cian.ru/sale/flat/304436445/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
950,https://www.cian.ru/sale/flat/305886281/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
951,https://www.cian.ru/sale/flat/305408100/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18

In [190]:
df2.index = np.arange(0, len(df2))

In [191]:
df2

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040534/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
1,https://www.cian.ru/sale/flat/304900609/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303506169/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
3,https://www.cian.ru/sale/flat/292853214/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
4,https://www.cian.ru/sale/flat/303859195/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,https://www.cian.ru/sale/flat/302669455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
936,https://www.cian.ru/sale/flat/304435293/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
937,https://www.cian.ru/sale/flat/304436445/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
938,https://www.cian.ru/sale/flat/305886281/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
939,https://www.cian.ru/sale/flat/305408100/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18

In [197]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df2)):
    print(j)
    url = df2['link'][j]
    r = requests.get(url)
    #sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df2['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df2['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df2['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df2['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df2['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df2['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        for i in range(0,4):
            if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                df2['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        for i in range(0,4):
            if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                df2['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df2['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df2['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939

In [198]:
df2

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040534/,50 308 800 ₽,6 мин.,ЦАО,"Общая площадь75,2 м²","Жилая площадь42,7",Этаж3 из 8,Этаж3 из 8,Год сдачи2028,1,0,NaN,2,0.18
1,https://www.cian.ru/sale/flat/304900609/,27 000 000 ₽,12 мин.,СВАО,Общая площадь66 м²,"Жилая площадь30,9",Этаж7 из 10,Этаж7 из 10,Год сдачи2024,1,0,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303506169/,17 376 450 ₽,8 мин.,ЮАО,"Общая площадь39,9 м²","Жилая площадь21,7",Этаж3 из 22,Этаж3 из 22,Год сдачи2026,1,0,Высота потолков3 м,2,0.18
3,https://www.cian.ru/sale/flat/292853214/,35 000 000 ₽,18 мин.,ЗАО,"Общая площадь58,3 м²","Жилая площадь36,5",Этаж36 из 41,Этаж36 из 41,Год сдачи2024,1,0,NaN,2,0.18
4,https://www.cian.ru/sale/flat/303859195/,20 457 480 ₽,24 мин.,ЗАО,"Общая площадь60,4 м²","Жилая площадь37,4",Этаж5 из 27,Этаж5 из 27,Год сдачи2027,1,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,https://www.cian.ru/sale/flat/302669455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
936,https://www.cian.ru/sale/flat/304435293/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
937,https://www.cian.ru/sale/flat/304436445/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
938,https://www.cian.ru/sale/flat/305886281/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
939,https://www.cian.ru/sale/flat/305408100/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,2,0.18

In [200]:
df2['price'].isna().sum()

864

In [201]:
df2 = df2.dropna(subset = 'price')

In [202]:
df2['price'].isna().sum()

0

In [203]:
df2.index = np.arange(0, len(df2))

In [204]:
df2

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040534/,50 308 800 ₽,6 мин.,ЦАО,"Общая площадь75,2 м²","Жилая площадь42,7",Этаж3 из 8,Этаж3 из 8,Год сдачи2028,1,0,NaN,2,0.18
1,https://www.cian.ru/sale/flat/304900609/,27 000 000 ₽,12 мин.,СВАО,Общая площадь66 м²,"Жилая площадь30,9",Этаж7 из 10,Этаж7 из 10,Год сдачи2024,1,0,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303506169/,17 376 450 ₽,8 мин.,ЮАО,"Общая площадь39,9 м²","Жилая площадь21,7",Этаж3 из 22,Этаж3 из 22,Год сдачи2026,1,0,Высота потолков3 м,2,0.18
3,https://www.cian.ru/sale/flat/292853214/,35 000 000 ₽,18 мин.,ЗАО,"Общая площадь58,3 м²","Жилая площадь36,5",Этаж36 из 41,Этаж36 из 41,Год сдачи2024,1,0,NaN,2,0.18
4,https://www.cian.ru/sale/flat/303859195/,20 457 480 ₽,24 мин.,ЗАО,"Общая площадь60,4 м²","Жилая площадь37,4",Этаж5 из 27,Этаж5 из 27,Год сдачи2027,1,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,https://www.cian.ru/sale/flat/299512191/,15 165 434 ₽,11 мин.,ЮАО,"Общая площадь51,59 м²",NaN,Этаж17 из 33,Этаж17 из 33,Год сдачи2025,1,0,NaN,2,0.18
72,https://www.cian.ru/sale/flat/299509905/,16 849 526 ₽,13 мин.,САО,"Общая площадь48,9 м²",NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
73,https://www.cian.ru/sale/flat/305209456/,16 708 088 ₽,12 мин.,САО,"Общая площадь52,1 м²",NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
74,https://www.cian.ru/sale/flat/305209428/,16 878 263 ₽,12 мин.,САО,"Общая площадь56,6 м²",NaN,NaN,NaN,NaN,1,0,NaN,2,0.18
75,https://www.cian.ru/sale/flat/305886305/,16 809 611 ₽,16 мин.,САО,"Общая площадь61,5 м²","Жилая площадь29,7",Этаж5 из 14,Этаж5 из 14,Год сдачи2024,1,0,NaN,2,0.18

# Парсинг 3-комн.квартир, новостройки, не апартаменты

In [206]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=2&offer_type=flat&only_flat=1&only_foot=2&p={p}&region=1&room3=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [208]:
header = ['link']
df3 = pd.DataFrame(data, columns = header)
df3.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_3.csv', sep = ';', encoding = 'utf8')

In [209]:
df3 = df3.drop_duplicates()

In [210]:
import warnings
warnings.filterwarnings("ignore")

df3['price'] = np.NaN
df3['min_to_metro'] = np.NaN
df3['region_of_moscow'] = np.NaN
df3['total_area'] = np.NaN
df3['living_area'] = np.NaN
df3['floor'] = np.NaN
df3['number_of_floors'] = np.NaN
df3['construction_year'] = np.NaN
df3['is_new'] = 1
df3['is_apartments'] = 0
df3['ceiling_height'] = np.NaN
df3['number_of_rooms'] = 3
df3['key_rent'] = 0.18
df3

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040450/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/306096932/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305311556/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
3,https://www.cian.ru/sale/flat/303027517/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/303506224/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917,https://www.cian.ru/sale/flat/303626003/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
920,https://www.cian.ru/sale/flat/304794602/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
921,https://www.cian.ru/sale/flat/304794691/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
922,https://www.cian.ru/sale/flat/292586402/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
923,https://www.cian.ru/sale/flat/306178086/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18

In [211]:
df3.index = np.arange(0, len(df3))

In [212]:
df3

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040450/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/306096932/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305311556/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
3,https://www.cian.ru/sale/flat/303027517/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/303506224/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,https://www.cian.ru/sale/flat/303626003/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
907,https://www.cian.ru/sale/flat/304794602/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
908,https://www.cian.ru/sale/flat/304794691/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
909,https://www.cian.ru/sale/flat/292586402/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
910,https://www.cian.ru/sale/flat/306178086/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18

In [218]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df3)):
    print(j)
    url = df3['link'][j]
    r = requests.get(url)
    #sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df3['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df3['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df3['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df3['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df3['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df2['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df3['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df3['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df3['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df3['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910

In [219]:
df3

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040450/,77 573 200 ₽,6 мин.,ЦАО,"Общая площадь112,1 м²",NaN,Этаж6 из 27,Этаж6 из 27,Год сдачи2028,1,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/306096932/,47 888 888 ₽,14 мин.,СВАО,"Общая площадь81,4 м²",NaN,Этаж33 из 38,Этаж33 из 38,Год сдачи2024,1,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305311556/,800 000 000 ₽,7 мин.,ЦАО,Общая площадь320 м²,NaN,Этаж4 из 5,Этаж4 из 5,Год сдачи2027,1,0,Высота потолков3 м,3,0.18
3,https://www.cian.ru/sale/flat/303027517/,56 000 000 ₽,18 мин.,СЗАО,"Общая площадь105,7 м²",NaN,Этаж26 из 44,Этаж26 из 44,Год сдачи2024,1,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/303506224/,23 074 110 ₽,8 мин.,ЮАО,"Общая площадь57,1 м²",NaN,Этаж9 из 34,Этаж9 из 34,Год сдачи2026,1,0,Высота потолков3 м,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,https://www.cian.ru/sale/flat/303626003/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
907,https://www.cian.ru/sale/flat/304794602/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
908,https://www.cian.ru/sale/flat/304794691/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
909,https://www.cian.ru/sale/flat/292586402/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
910,https://www.cian.ru/sale/flat/306178086/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,3,0.18

In [220]:
df3['price'].isna().sum()

878

In [221]:
df3 = df3.dropna(subset = 'price')

In [222]:
df3['price'].isna().sum()

0

In [225]:
df3.index = np.arange(0, len(df3))

In [226]:
df3

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040450/,77 573 200 ₽,6 мин.,ЦАО,"Общая площадь112,1 м²",NaN,Этаж6 из 27,Этаж6 из 27,Год сдачи2028,1,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/306096932/,47 888 888 ₽,14 мин.,СВАО,"Общая площадь81,4 м²",NaN,Этаж33 из 38,Этаж33 из 38,Год сдачи2024,1,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305311556/,800 000 000 ₽,7 мин.,ЦАО,Общая площадь320 м²,NaN,Этаж4 из 5,Этаж4 из 5,Год сдачи2027,1,0,Высота потолков3 м,3,0.18
3,https://www.cian.ru/sale/flat/303027517/,56 000 000 ₽,18 мин.,СЗАО,"Общая площадь105,7 м²",NaN,Этаж26 из 44,Этаж26 из 44,Год сдачи2024,1,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/303506224/,23 074 110 ₽,8 мин.,ЮАО,"Общая площадь57,1 м²",NaN,Этаж9 из 34,Этаж9 из 34,Год сдачи2026,1,0,Высота потолков3 м,3,0.18
5,https://www.cian.ru/sale/flat/300873457/,32 000 000 ₽,5 мин.,СЗАО,Общая площадь64 м²,NaN,Этаж18 из 43,Этаж18 из 43,Год сдачи2023,1,0,NaN,3,0.18
6,https://www.cian.ru/sale/flat/303859420/,24 569 980 ₽,24 мин.,ЗАО,"Общая площадь71,3 м²",NaN,Этаж3 из 13,Этаж3 из 13,Год сдачи2027,1,0,NaN,3,0.18
7,https://www.cian.ru/sale/flat/303111950/,42 500 000 ₽,18 мин.,ЗАО,Общая площадь74 м²,NaN,Этаж12 из 41,Этаж12 из 41,Год сдачи2024,1,0,NaN,3,0.18
8,https://www.cian.ru/sale/flat/306076573/,40 101 163 ₽,4 мин.,ЗАО,"Общая площадь103,7 м²",NaN,Этаж4 из 20,Этаж4 из 20,Год сдачи2024,1,0,NaN,3,0.18
9,https://www.cian.ru/sale/flat/304304141/,95 000 000 ₽,14 мин.,ЦАО,"Общая площадь89,7 м²",NaN,Этаж7 из 18,NaN,NaN,1,0,NaN,3,0.18
10,https://www.cian.ru/sale/flat/299093569/,38 943 033 ₽,17 мин.,ЮАО,"Общая площадь82,95 м²",NaN,Этаж7 из 28,Этаж7 из 28,Год сдачи2023,1,0,Высота потолков3 м,3,0.18
11,https://www.cian.ru/sale/flat/302154001/,48 999 999 ₽,14 мин.,ЦАО,Общая площадь99 м²,NaN,Этаж5 из 33,Этаж5 из 33,Год сдачи2025,1,0,NaN,3,0.18
12,https://www.cian.ru/sale/flat/301772072/,47 194 890 ₽,7 мин.,ЮЗАО,"Общая площадь95,73 м²",NaN,Этаж5 из 35,Этаж5 из 35,Год сдачи2027,1,0,NaN,3,0.18
13,https://www.cian.ru/sale/flat/299771808/,33 500 000 ₽,22 мин.,ЗАО,Общая площадь71 м²,NaN,Этаж24 из 56,Этаж24 из 56,Год сдачи2024,1,0,NaN,3,0.18
14,https://www.cian.ru/sale/flat/300288044/,36 682 465 ₽,4 мин.,САО,"Общая площадь84,35 м²",NaN,Этаж4 из 43,Этаж4 из 43,Год сдачи2025,1,0,Высота потолков3 м,3,0.18
15,https://www.cian.ru/sale/flat/304475947/,85 000 000 ₽,14 мин.,ЦАО,"Общая площадь82,3 м²",NaN,Этаж4 из 18,NaN,NaN,1,0,NaN,3,0.18
16,https://www.cian.ru/sale/flat/306014910/,34 119 072 ₽,18 мин.,СВАО,"Общая площадь67,6 м²",NaN,Этаж20 из 22,Этаж20 из 22,Год сдачи2025,1,0,Высота потолков3 м,3,0.18
17,https://www.cian.ru/sale/flat/298516162/,47 484 582 ₽,24 мин.,ЗАО,"Общая площадь104,73 м²",NaN,Этаж2 из 12,Этаж2 из 12,Год сдачи2024,1,0,NaN,3,0.18
18,https://www.cian.ru/sale/flat/305514830/,17 000 000 ₽,19 мин.,НАО (Новомосковский),"Общая площадь68,5 м²",NaN,Этаж9 из 24,Этаж9 из 24,Год сдачи2024,1,0,NaN,3,0.18
19,https://www.cian.ru/sale/flat/306286350/,118 000 000 ₽,10 мин.,ЗАО,Общая площадь150 м²,NaN,Этаж1 из 10,Этаж1 из 10,Год сдачи2024,1,0,NaN,3,0.18
20,https://www.cian.ru/sale/flat/305437357/,45 867 588 ₽,7 мин.,ВАО,"Общая площадь95,79 м²",NaN,Этаж11 из 16,Этаж11 из 16,Год сдачи2027,1,0,NaN,3,0.18
21,https://www.cian.ru/sale/flat/305874104/,26 500 000 ₽,7 мин.,ЮАО,"Общая площадь72,7 м²",NaN,Этаж6 из 19,Этаж6 из 19,Год сдачи2027,1,0,NaN,3,0.18
22,https://www.cian.ru/sale/flat/289979509/,29 499 000 ₽,6 мин.,ЗАО,Общая площадь78 м²,NaN,Этаж2 из 56,Этаж2 из 56,Год сдачи2024,1,0,NaN,3,0.18
23,https://www.cian.ru/sale/flat/304883116/,32 000 000 ₽,6 мин.,ЮАО,"Общая площадь69,5 м²",NaN,Этаж17 из 28,Этаж17 из 28,Год сдачи2025,1,0,NaN,3,0.18
24,https://www.cian.ru/sale/flat/296804587/,16 080 160 ₽,15 мин.,НАО (Новомосковский),"Общая площадь77,4 м²",NaN,Этаж10 из 11,Этаж10 из 11,Год сдачи2025,1,0,NaN,3,0.18
25,https://www.cian.ru/sale/flat/293408940/,16 859 853 ₽,13 мин.,НАО (Новомосковский),"Общая площадь62,8 м²",NaN,Этаж2 из 10,Этаж2 из 10,Год сдачи2025,1,0,NaN,3,0.18
26,https://www.cian.ru/sale/flat/304080067/,17 240 225 ₽,6 мин.,НАО (Новомосковский),"Общая площадь65,1 м²",NaN,Этаж2 из 22,Этаж2 из 22,Год сдачи2026,1,0,"Высота потолков2,85 м",3,0.18
27,https://www.cian.ru/sale/flat/306255313/,18 018 750 ₽,21 мин.,СЗАО,"Общая площадь77,5 м²",NaN,Этаж12 из 25,Этаж12 из 25,Год сдачи2022,1,0,NaN,3,0.18
28,https://www.cian.ru/sale/flat/305339496/,18 716 199 ₽,14 мин.,САО,"Общая площадь50,1 м²",NaN,Этаж26 из 30,Этаж26 из 30,Год сдачи2024,1,0,NaN,3,0.18
29,https://www.cian.ru/sale/flat/306241790/,19 631 304 ₽,7 мин.,ЮАО,"Общая площадь72,92 м²",NaN,Этаж6 из 21,Этаж6 из 21,Год сдачи2026,1,0,NaN,3,0.18
30,https://www.cian.ru/sale/flat/305202255/,20 585 690 ₽,11 мин.,НАО (Новомосковский),"Общая площадь74,5 м²",NaN,Этаж12 из 17,Этаж12 из 17,Год сдачи2026,1,0,NaN,3,0.18
31,https://www.cian.ru/sale/flat/299510071/,21 282 498 ₽,12 мин.,САО,"Общая площадь80,6 м²",NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
32,https://www.cian.ru/sale/flat/306281855/,28 955 295 ₽,8 мин.,ЮВАО,"Общая площадь69,3 м²",NaN,Этаж68 из 69,Этаж68 из 69,Год сдачи2025,1,0,NaN,3,0.18

# Соединяем в единый датасет: Новостройки, не апартаменты

In [353]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [354]:
df

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040538/,36 852 900 ₽,6 мин.,ЦАО,"Общая площадь48,3 м²","Жилая площадь23,9",Этаж5 из 8,Этаж5 из 8,Год сдачи2028,1,0,"Высота потолков3,3 м",1,0.18
1,https://www.cian.ru/sale/flat/305679460/,16 739 900 ₽,17 мин.,ЮАО,"Общая площадь38,93 м²","Жилая площадь10,7",Этаж3 из 20,Этаж3 из 20,Год сдачи2024,1,0,"Высота потолков2,85 м",1,0.18
2,https://www.cian.ru/sale/flat/303506233/,18 055 560 ₽,8 мин.,ЮАО,"Общая площадь39,7 м²","Жилая площадь13,2",Этаж8 из 28,Этаж8 из 28,Год сдачи2026,1,0,Высота потолков3 м,1,0.18
3,https://www.cian.ru/sale/flat/305679583/,13 984 508 ₽,17 мин.,ЮАО,"Общая площадь24,93 м²","Жилая площадь12,3",Этаж6 из 20,Этаж6 из 20,Год сдачи2024,1,0,"Высота потолков2,85 м",1,0.18
4,https://www.cian.ru/sale/flat/303859162/,14 837 840 ₽,24 мин.,ЗАО,"Общая площадь38,6 м²","Жилая площадь21,6",Этаж6 из 27,Этаж6 из 27,Год сдачи2027,1,0,"Высота потолков2,92 м",1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,https://www.cian.ru/sale/flat/305339496/,18 716 199 ₽,14 мин.,САО,"Общая площадь50,1 м²",NaN,Этаж26 из 30,Этаж26 из 30,Год сдачи2024,1,0,NaN,3,0.18
292,https://www.cian.ru/sale/flat/306241790/,19 631 304 ₽,7 мин.,ЮАО,"Общая площадь72,92 м²",NaN,Этаж6 из 21,Этаж6 из 21,Год сдачи2026,1,0,NaN,3,0.18
293,https://www.cian.ru/sale/flat/305202255/,20 585 690 ₽,11 мин.,НАО (Новомосковский),"Общая площадь74,5 м²",NaN,Этаж12 из 17,Этаж12 из 17,Год сдачи2026,1,0,NaN,3,0.18
294,https://www.cian.ru/sale/flat/299510071/,21 282 498 ₽,12 мин.,САО,"Общая площадь80,6 м²",NaN,NaN,NaN,NaN,1,0,NaN,3,0.18
295,https://www.cian.ru/sale/flat/306281855/,28 955 295 ₽,8 мин.,ЮВАО,"Общая площадь69,3 м²",NaN,Этаж68 из 69,Этаж68 из 69,Год сдачи2025,1,0,NaN,3,0.18

In [355]:
for i in range(0, len(df['price'])):
    df['price'][i] = "".join(c for c in df['price'][i] if  c.isdecimal())

In [356]:
for i in range(0, len(df['price'])):
    df['price'][i] = int(df['price'][i])

In [357]:
df['price'] = df['price'].astype('int')

In [374]:
for i in range(0, len(df)):
    try:
        df['min_to_metro'][i] = int(df['min_to_metro'][i].replace('мин.', ''))
    except:
        continue
df['min_to_metro'][109] = np.NaN
df['min_to_metro'][159] = np.NaN
df['min_to_metro'][168] = np.NaN
df['min_to_metro'][230] = np.NaN
df['min_to_metro'][237] = np.NaN
df['min_to_metro'][138] = np.NaN
df['min_to_metro'][163] = np.NaN
df['min_to_metro'][171] = np.NaN
df['min_to_metro'][184] = np.NaN

df['min_to_metro'] = df['min_to_metro'].astype('float')

In [376]:
df.head(3)

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040538/,36852900,6.0,ЦАО,48.30,"Жилая площадь23,9",Этаж5 из 8,Этаж5 из 8,Год сдачи2028,1,0,"Высота потолков3,3 м",1,0.18
1,https://www.cian.ru/sale/flat/305679460/,16739900,17.0,ЮАО,38.93,"Жилая площадь10,7",Этаж3 из 20,Этаж3 из 20,Год сдачи2024,1,0,"Высота потолков2,85 м",1,0.18
2,https://www.cian.ru/sale/flat/303506233/,18055560,8.0,ЮАО,39.70,"Жилая площадь13,2",Этаж8 из 28,Этаж8 из 28,Год сдачи2026,1,0,Высота потолков3 м,1,0.18

In [383]:
for i in range(0, len(df)):
    try:
        df['living_area'][i] = float(df['living_area'][i].replace('Жилая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['living_area'] = df['living_area'].astype('float')

In [393]:
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i].replace('Этаж', '')
    except:
        continue
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i][:2]
    except:
        continue
for i in range(0, len(df)):
    try:
        df['number_of_floors'][i] = df['number_of_floors'][i][-2:]
    except:
        continue
df['floor'] = df['floor'].astype('float')
df['number_of_floors'] = df['number_of_floors'].astype('float')

In [399]:
for i in range(0, len(df)):
    try:
        df['construction_year'][i] = df['construction_year'][i][-4:]
    except:
        continue
df['construction_year'] = df['construction_year'].astype('float')

In [401]:
for i in range(0, len(df)):
    try:
        df['ceiling_height'][i] = float(df['ceiling_height'][i].replace('Высота потолков', '').replace('м', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['ceiling_height'] = df['ceiling_height'].astype('float')

In [359]:
for i in range(0, len(df)):
    try:
        df['total_area'][i] = float(df['total_area'][i].replace('Общая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue

In [360]:
df['total_area'] = df['total_area'].astype('float')

In [434]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               296 non-null    object
 1   price              296 non-null    int64
 2   min_to_metro       271 non-null    float64
 3   region_of_moscow   280 non-null    object
 4   total_area         280 non-null    float64
 5   living_area        191 non-null    float64
 6   floor              272 non-null    float64
 7   number_of_floors   270 non-null    float64
 8   construction_year  187 non-null    float64
 9   is_new             296 non-null    int64
 10  is_apartments      296 non-null    int64
 11  ceiling_height     83 non-null     float64
 12  number_of_rooms    296 non-null    int64
 13  key_rent           296 non-null    float64
dtypes: float64(8), int64(4), object(2)
memory usage: 32.5+ KB

In [435]:
df.to_csv('cian_parses_novo_ne_apart.csv', header=True)

# Парсинг студий и 1-комн.квартир, новостройки, апартаменты

In [436]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?apartment=1&deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=2&offer_type=flat&only_foot=2&p={p}&region=1&room1=1&room9=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [441]:
header = ['link']
df4 = pd.DataFrame(data, columns = header)
df4.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_4.csv', sep = ';', encoding = 'utf8')

In [442]:
df4 = df4.drop_duplicates()

In [443]:
import warnings
warnings.filterwarnings("ignore")

df4['price'] = np.NaN
df4['min_to_metro'] = np.NaN
df4['region_of_moscow'] = np.NaN
df4['total_area'] = np.NaN
df4['living_area'] = np.NaN
df4['floor'] = np.NaN
df4['number_of_floors'] = np.NaN
df4['construction_year'] = np.NaN
df4['is_new'] = 1
df4['is_apartments'] = 1
df4['ceiling_height'] = np.NaN
df4['number_of_rooms'] = 1
df4['key_rent'] = 0.18
df4

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040427/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
1,https://www.cian.ru/sale/flat/305510051/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/289484529/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/306205711/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/299370745/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,https://www.cian.ru/sale/flat/303902011/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
864,https://www.cian.ru/sale/flat/305935010/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
865,https://www.cian.ru/sale/flat/302946115/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
866,https://www.cian.ru/sale/flat/296990262/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
867,https://www.cian.ru/sale/flat/297484991/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18

In [444]:
df4.index = np.arange(0, len(df4))

In [445]:
df4

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040427/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
1,https://www.cian.ru/sale/flat/305510051/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/289484529/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/306205711/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/299370745/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,https://www.cian.ru/sale/flat/303902011/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
680,https://www.cian.ru/sale/flat/305935010/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
681,https://www.cian.ru/sale/flat/302946115/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
682,https://www.cian.ru/sale/flat/296990262/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18
683,https://www.cian.ru/sale/flat/297484991/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,1,0.18

In [457]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df4)):
    print(j)
    url = df4['link'][j]
    r = requests.get(url)
    sleep(2)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df4['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df4['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df4['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df4['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df4['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df4['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df4['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df4['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df4['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df4['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683

In [458]:
df4['price'].isna().sum()

529

In [459]:
df4 = df4.dropna(subset = 'price')

In [460]:
df4['price'].isna().sum()

0

In [461]:
df4.index = np.arange(0, len(df4))

In [463]:
df4

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040427/,57 190 400 ₽,10 мин.,ЦАО,"Общая площадь51,2 м²","Жилая площадь12,3",Этаж4 из 6,Этаж4 из 6,Год сдачи2024,1,1,"Высота потолков3,23 м",1,0.18
1,https://www.cian.ru/sale/flat/305510051/,98 899 990 ₽,2 мин.,ЦАО,Общая площадь108 м²,Жилая площадь36,Этаж21 из 21,Этаж21 из 21,Год сдачи2024,1,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/289484529/,89 010 000 ₽,1 мин.,ЦАО,"Общая площадь64,5 м²",NaN,Этаж8 из 9,Этаж8 из 9,Год сдачи2023,1,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/306205711/,21 000 000 ₽,8 мин.,ЮАО,"Общая площадь39,9 м²","Жилая площадь10,8",Этаж3 из 13,Этаж3 из 13,Год сдачи2024,1,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/299370745/,19 500 000 ₽,16 мин.,СЗАО,Общая площадь39 м²,"Жилая площадь12,5",Этаж2 из 6,Этаж2 из 6,Год сдачи2023,1,1,"Высота потолков3,24 м",1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,https://www.cian.ru/sale/flat/303085169/,8 400 000 ₽,3 мин.,ЮВАО,"Общая площадь35,4 м²","Жилая площадь24,3",Этаж6 из 23,Этаж6 из 23,Год сдачи2024,1,1,Высота потолков3 м,1,0.18
151,https://www.cian.ru/sale/flat/306157540/,9 400 000 ₽,19 мин.,НАО (Новомосковский),"Общая площадь44,3 м²",NaN,Этаж10 из 25,Этаж10 из 25,Год сдачи2024,1,1,"Высота потолков2,7 м",1,0.18
152,https://www.cian.ru/sale/flat/298781321/,9 500 000 ₽,3 мин.,ЮВАО,Общая площадь30 м²,NaN,Этаж23 из 23,Этаж23 из 23,Год сдачи2024,1,1,NaN,1,0.18
153,https://www.cian.ru/sale/flat/292401841/,10 000 000 ₽,19 мин.,НАО (Новомосковский),"Общая площадь37,06 м²","Жилая площадь11,5",Этаж10 из 23,Этаж10 из 23,Год сдачи2024,1,1,NaN,1,0.18
154,https://www.cian.ru/sale/flat/297484991/,10 500 000 ₽,3 мин.,ЮВАО,"Общая площадь29,5 м²","Жилая площадь18,3",Этаж7 из 23,Этаж7 из 23,Год сдачи2024,1,1,NaN,1,0.18

# Парсинг 2-комн.квартир, новостройки, апартаменты

In [464]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?apartment=1&deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=2&offer_type=flat&only_foot=2&p={p}&region=1&room2=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [465]:
header = ['link']
df5 = pd.DataFrame(data, columns = header)
df5.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_5.csv', sep = ';', encoding = 'utf8')

In [466]:
df5 = df5.drop_duplicates()

In [467]:
import warnings
warnings.filterwarnings("ignore")

df5['price'] = np.NaN
df5['min_to_metro'] = np.NaN
df5['region_of_moscow'] = np.NaN
df5['total_area'] = np.NaN
df5['living_area'] = np.NaN
df5['floor'] = np.NaN
df5['number_of_floors'] = np.NaN
df5['construction_year'] = np.NaN
df5['is_new'] = 1
df5['is_apartments'] = 1
df5['ceiling_height'] = np.NaN
df5['number_of_rooms'] = 2
df5['key_rent'] = 0.18
df5

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/305311557/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
1,https://www.cian.ru/sale/flat/305912494/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303519450/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
3,https://www.cian.ru/sale/flat/272639624/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/288136857/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,https://www.cian.ru/sale/flat/302907480/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
475,https://www.cian.ru/sale/flat/305427692/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
476,https://www.cian.ru/sale/flat/302907684/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
583,https://www.cian.ru/sale/flat/306105752/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
584,https://www.cian.ru/sale/flat/296572936/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18

In [468]:
df5.index = np.arange(0, len(df5))

In [469]:
df5

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/305311557/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
1,https://www.cian.ru/sale/flat/305912494/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303519450/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
3,https://www.cian.ru/sale/flat/272639624/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/288136857/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,https://www.cian.ru/sale/flat/302907480/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
442,https://www.cian.ru/sale/flat/305427692/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
443,https://www.cian.ru/sale/flat/302907684/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
444,https://www.cian.ru/sale/flat/306105752/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18
445,https://www.cian.ru/sale/flat/296572936/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,2,0.18

In [471]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df5)):
    print(j)
    url = df5['link'][j]
    r = requests.get(url)
    sleep(2)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df5['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df5['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df5['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df5['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df5['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df5['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df5['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df5['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df5['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df5['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445

In [472]:
df5['price'].isna().sum()

347

In [475]:
df5 = df5.dropna(subset = 'price')

In [476]:
df5['price'].isna().sum()

0

In [477]:
df5.index = np.arange(0, len(df5))

In [478]:
df5

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/305311557/,403 620 000 ₽,7 мин.,ЦАО,"Общая площадь192,2 м²",NaN,Этаж1 из 6,Этаж1 из 6,Год сдачи2027,1,1,"Высота потолков3,25 м",2,0.18
1,https://www.cian.ru/sale/flat/305912494/,51 000 000 ₽,17 мин.,ЗАО,"Общая площадь64,4 м²",NaN,Этаж10 из 34,Этаж10 из 34,Год сдачи2024,1,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/303519450/,59 236 384 ₽,14 мин.,ЗАО,"Общая площадь50,6 м²","Жилая площадь30,7",Этаж22 из 34,Этаж22 из 34,Год сдачи2024,1,1,"Высота потолков3,2 м",2,0.18
3,https://www.cian.ru/sale/flat/272639624/,27 000 000 ₽,5 мин.,САО,"Общая площадь61,1 м²",NaN,Этаж5 из 7,Этаж5 из 7,Год сдачи2024,1,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/288136857/,68 280 578 ₽,1 мин.,ЦАО,"Общая площадь80,6 м²","Жилая площадь49,6",Этаж59 из 85,Этаж59 из 85,Год сдачи2015,1,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,https://www.cian.ru/sale/flat/289975773/,13 438 738 ₽,7 мин.,СВАО,"Общая площадь49,81 м²","Жилая площадь32,8",Этаж3 из 20,Этаж3 из 20,Год сдачи2024,1,1,"Высота потолков3,05 м",2,0.18
95,https://www.cian.ru/sale/flat/304303442/,20 656 800 ₽,19 мин.,СВАО,"Общая площадь45,3 м²","Жилая площадь36,3",Этаж3 из 5,Этаж3 из 5,Год сдачи2024,1,1,"Высота потолков3,2 м",2,0.18
96,https://www.cian.ru/sale/flat/302839453/,63 953 524 ₽,2 мин.,ЦАО,"Общая площадь79,4 м²","Жилая площадь30,4",Этаж19 из 21,Этаж19 из 21,Год сдачи2024,1,1,"Высота потолков3,15 м",2,0.18
97,https://www.cian.ru/sale/flat/306200146/,99 372 697 ₽,8 мин.,ЮАО,"Общая площадь140,9 м²","Жилая площадь121,3",Этаж13 из 13,Этаж13 из 13,Год сдачи2024,1,1,Высота потолков3 м,2,0.18
98,https://www.cian.ru/sale/flat/304483051/,118 838 891 ₽,8 мин.,ЦАО,"Общая площадь116,9 м²",NaN,Этаж10 из 13,Этаж10 из 13,Год сдачи2013,1,1,"Высота потолков3,15 м",2,0.18

# Парсинг 3-комн.квартир, новостройки, апартаменты

In [479]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?apartment=1&deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=2&offer_type=flat&only_foot=2&p={p}&region=1&room3=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [491]:
header = ['link']
df6 = pd.DataFrame(data, columns = header)
df6.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_6.csv', sep = ';', encoding = 'utf8')

In [492]:
df6 = df6.drop_duplicates()

In [493]:
import warnings
warnings.filterwarnings("ignore")

df6['price'] = np.NaN
df6['min_to_metro'] = np.NaN
df6['region_of_moscow'] = np.NaN
df6['total_area'] = np.NaN
df6['living_area'] = np.NaN
df6['floor'] = np.NaN
df6['number_of_floors'] = np.NaN
df6['construction_year'] = np.NaN
df6['is_new'] = 1
df6['is_apartments'] = 1
df6['ceiling_height'] = np.NaN
df6['number_of_rooms'] = 3
df6['key_rent'] = 0.18
df6

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040443/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
1,https://www.cian.ru/sale/flat/299015116/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303519456/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
3,https://www.cian.ru/sale/flat/304968455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
4,https://www.cian.ru/sale/flat/291360059/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,https://www.cian.ru/sale/flat/300956045/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
357,https://www.cian.ru/sale/flat/300956047/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
358,https://www.cian.ru/sale/flat/300956041/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
359,https://www.cian.ru/sale/flat/306280092/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
360,https://www.cian.ru/sale/flat/299695305/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18

In [495]:
len(df6)

360

In [498]:
df6.index = np.arange(0, 360)

In [499]:
df6

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040443/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
1,https://www.cian.ru/sale/flat/299015116/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303519456/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
3,https://www.cian.ru/sale/flat/304968455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
4,https://www.cian.ru/sale/flat/291360059/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,https://www.cian.ru/sale/flat/300956045/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
356,https://www.cian.ru/sale/flat/300956047/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
357,https://www.cian.ru/sale/flat/300956041/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
358,https://www.cian.ru/sale/flat/306280092/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18
359,https://www.cian.ru/sale/flat/299695305/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,3,0.18

In [500]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df6)):
    print(j)
    url = df6['link'][j]
    r = requests.get(url)
    sleep(2)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df6['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df6['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df6['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df6['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df6['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df6['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df6['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df6['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df6['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df6['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359

In [501]:
df6['price'].isna().sum()

276

In [502]:
df6 = df6.dropna(subset = 'price')

In [503]:
df6['price'].isna().sum()

0

In [504]:
df6.index = np.arange(0, len(df6))

In [506]:
df6

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040443/,174 494 300 ₽,5 мин.,ЦАО,"Общая площадь183,1 м²",NaN,Этаж5 из 5,Этаж5 из 5,Год сдачи2017,1,1,"Высота потолков3,2 м",3,0.18
1,https://www.cian.ru/sale/flat/299015116/,87 500 000 ₽,1 мин.,ЦАО,"Общая площадь96,79 м²",NaN,Этаж11 из 20,NaN,NaN,1,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303519456/,124 597 929 ₽,14 мин.,ЗАО,"Общая площадь83,6 м²","Жилая площадь63,7",Этаж22 из 34,Этаж22 из 34,Год сдачи2024,1,1,"Высота потолков3,2 м",3,0.18
3,https://www.cian.ru/sale/flat/304968455/,19 000 000 ₽,20 мин.,СЗАО,"Общая площадь67,1 м²","Жилая площадь28,9",Этаж23 из 24,Этаж23 из 24,Год сдачи2024,1,1,Высота потолков3 м,3,0.18
4,https://www.cian.ru/sale/flat/291360059/,132 673 652 ₽,1 мин.,ЦАО,"Общая площадь154,3 м²","Жилая площадь104,9",Этаж62 из 85,Этаж62 из 85,Год сдачи2015,1,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,https://www.cian.ru/sale/flat/302667778/,13 726 699 ₽,19 мин.,НАО (Новомосковский),"Общая площадь72,35 м²",NaN,Этаж22 из 23,Этаж22 из 23,Год сдачи2024,1,1,NaN,3,0.18
80,https://www.cian.ru/sale/flat/305970901/,15 004 646 ₽,19 мин.,НАО (Новомосковский),"Общая площадь73,33 м²",NaN,Этаж6 из 23,Этаж6 из 23,Год сдачи2024,1,1,NaN,3,0.18
81,https://www.cian.ru/sale/flat/298446897/,48 214 390 ₽,8 мин.,ЦАО,"Общая площадь85,2 м²",NaN,Этаж17 из 19,Этаж17 из 19,Год сдачи2025,1,1,NaN,3,0.18
82,https://www.cian.ru/sale/flat/299607883/,89 193 955 ₽,8 мин.,ЦАО,"Общая площадь129,2 м²",NaN,Этаж19 из 19,Этаж19 из 19,Год сдачи2025,1,1,NaN,3,0.18
83,https://www.cian.ru/sale/flat/306280092/,26 888 080 ₽,5 мин.,ЗАО,"Общая площадь73,3 м²",NaN,NaN,NaN,NaN,1,1,NaN,3,0.18

# Соединяем в единый датасет: Новостройки, апартаменты

In [507]:
df = pd.concat([df4, df5, df6], ignore_index=True)

In [509]:
for i in range(0, len(df['price'])):
    df['price'][i] = "".join(c for c in df['price'][i] if  c.isdecimal())
for i in range(0, len(df['price'])):
    df['price'][i] = int(df['price'][i])
df['price'] = df['price'].astype('int')

In [511]:
for i in range(0, len(df)):
    try:
        df['min_to_metro'][i] = int(df['min_to_metro'][i].replace('мин.', ''))
    except:
        continue
df['min_to_metro'] = df['min_to_metro'].astype('float')

In [513]:
for i in range(0, len(df)):
    try:
        df['living_area'][i] = float(df['living_area'][i].replace('Жилая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['living_area'] = df['living_area'].astype('float')

In [515]:
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i].replace('Этаж', '')
    except:
        continue
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i][:2]
    except:
        continue
for i in range(0, len(df)):
    try:
        df['number_of_floors'][i] = df['number_of_floors'][i][-2:]
    except:
        continue
df['floor'] = df['floor'].astype('float')
df['number_of_floors'] = df['number_of_floors'].astype('float')

In [517]:
for i in range(0, len(df)):
    try:
        df['construction_year'][i] = df['construction_year'][i][-4:]
    except:
        continue
df['construction_year'] = df['construction_year'].astype('float')

In [519]:
for i in range(0, len(df)):
    try:
        df['ceiling_height'][i] = float(df['ceiling_height'][i].replace('Высота потолков', '').replace('м', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['ceiling_height'] = df['ceiling_height'].astype('float')

In [520]:
df

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040427/,57190400,10.0,ЦАО,"Общая площадь51,2 м²",12.3,4.0,6.0,2024.0,1,1,3.23,1,0.18
1,https://www.cian.ru/sale/flat/305510051/,98899990,2.0,ЦАО,Общая площадь108 м²,36.0,21.0,21.0,2024.0,1,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/289484529/,89010000,1.0,ЦАО,"Общая площадь64,5 м²",NaN,8.0,9.0,2023.0,1,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/306205711/,21000000,8.0,ЮАО,"Общая площадь39,9 м²",10.8,3.0,13.0,2024.0,1,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/299370745/,19500000,16.0,СЗАО,Общая площадь39 м²,12.5,2.0,6.0,2023.0,1,1,3.24,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,https://www.cian.ru/sale/flat/302667778/,13726699,19.0,НАО (Новомосковский),"Общая площадь72,35 м²",NaN,22.0,23.0,2024.0,1,1,NaN,3,0.18
334,https://www.cian.ru/sale/flat/305970901/,15004646,19.0,НАО (Новомосковский),"Общая площадь73,33 м²",NaN,6.0,23.0,2024.0,1,1,NaN,3,0.18
335,https://www.cian.ru/sale/flat/298446897/,48214390,8.0,ЦАО,"Общая площадь85,2 м²",NaN,17.0,19.0,2025.0,1,1,NaN,3,0.18
336,https://www.cian.ru/sale/flat/299607883/,89193955,8.0,ЦАО,"Общая площадь129,2 м²",NaN,19.0,19.0,2025.0,1,1,NaN,3,0.18
337,https://www.cian.ru/sale/flat/306280092/,26888080,5.0,ЗАО,"Общая площадь73,3 м²",NaN,NaN,NaN,NaN,1,1,NaN,3,0.18

In [521]:
for i in range(0, len(df)):
    try:
        df['total_area'][i] = float(df['total_area'][i].replace('Общая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['total_area'] = df['total_area'].astype('float')

In [522]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               338 non-null    object
 1   price              338 non-null    int64
 2   min_to_metro       338 non-null    float64
 3   region_of_moscow   338 non-null    object
 4   total_area         338 non-null    float64
 5   living_area        210 non-null    float64
 6   floor              333 non-null    float64
 7   number_of_floors   331 non-null    float64
 8   construction_year  331 non-null    float64
 9   is_new             338 non-null    int64
 10  is_apartments      338 non-null    int64
 11  ceiling_height     205 non-null    float64
 12  number_of_rooms    338 non-null    int64
 13  key_rent           338 non-null    float64
dtypes: float64(8), int64(4), object(2)
memory usage: 37.1+ KB

In [523]:
df.to_csv('cian_parses_novo_apart.csv', header=True)

# Проверка качества выборки

In [749]:
numerical_features =[]
for column in df_final.columns:
    if df_final[column].dtype == 'float64' and column != 'price':
        numerical_features.append(column)
numerical_features

['min_to_metro',
 'total_area',
 'living_area',
 'floor',
 'number_of_floors',
 'construction_year',
 'ceiling_height',
 'key_rent']

In [750]:
binary_features =[]
for column in df_final.columns:
    if df_final[column].dtype == 'int64' and column != 'price':
        binary_features.append(column)
binary_features

['is_new', 'is_apartments', 'number_of_rooms']

In [751]:
categorical_features = []
for column in df_final.columns:
    if df[column].dtype == 'object':
        categorical_features.append(column)
categorical_features

['link', 'region_of_moscow']

In [712]:
from sklearn.model_selection import train_test_split

In [752]:
X = df_final.drop(columns = ['price'])
y = df_final['price']

In [753]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, shuffle = True, random_state = 69)

In [754]:
print(X_train.shape)
print(y_train.shape)

(1549, 13)
(1549,)

In [755]:
print(X_test.shape)
print(y_test.shape)

(388, 13)
(388,)

In [756]:
from sklearn.impute import SimpleImputer
si_num = SimpleImputer(strategy='median')
si_num.fit(X_train[numerical_features + binary_features])
X_train[numerical_features + binary_features] = si_num.transform(X_train[numerical_features + binary_features])
X_test[numerical_features + binary_features] = si_num.transform(X_test[numerical_features + binary_features])

si_cat = SimpleImputer(strategy='most_frequent')
si_cat.fit(X_train[categorical_features])
X_train[categorical_features] = si_cat.transform(X_train[categorical_features])
X_test[categorical_features] = si_cat.transform(X_test[categorical_features])
X_train.drop(columns = ['link'], inplace = True)
X_test.drop(columns = ['link'], inplace = True)

In [757]:
from sklearn.preprocessing import OneHotEncoder

pd.get_dummies(X_train['region_of_moscow'], dtype=float)

X_train_new = pd.concat([X_train, pd.get_dummies(X_train['region_of_moscow'],dtype=float, prefix='region_of_moscow')], axis=1)

X_train_new.drop(columns=['region_of_moscow'], inplace=True)

print(X_train_new.shape)
X_train_new

(1549, 22)

,min_to_metro,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,...,region_of_moscow_ЗАО,region_of_moscow_ЗелАО,region_of_moscow_НАО (Новомосковский),region_of_moscow_САО,region_of_moscow_СВАО,region_of_moscow_СЗАО,region_of_moscow_ЦАО,region_of_moscow_ЮАО,region_of_moscow_ЮВАО,region_of_moscow_ЮЗАО
1840,11.0,111.300,28.0,6.0,17.0,2020.0,0.0,1.0,3.00,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1155,6.0,24.000,28.0,2.0,17.0,2020.0,0.0,1.0,3.00,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
213,9.0,44.300,22.0,18.0,30.0,2024.0,1.0,0.0,3.00,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1895,15.0,85.900,61.3,11.0,14.0,2020.0,0.0,1.0,3.00,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
114,9.0,54.295,28.0,6.0,17.0,2020.0,1.0,0.0,3.00,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,2.0,42.100,13.5,9.0,21.0,2024.0,1.0,1.0,3.03,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1626,5.0,62.000,28.0,49.0,17.0,2020.0,0.0,1.0,3.00,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
619,7.0,103.000,72.6,15.0,19.0,2024.0,1.0,1.0,3.20,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1227,10.0,17.600,10.6,4.0,16.0,1974.0,0.0,1.0,2.50,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1078,16.0,167.000,120.0,5.0,58.0,2014.0,0.0,0.0,3.10,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [758]:
pd.get_dummies(X_test['region_of_moscow'], dtype=float)

X_test_new = pd.concat([X_test, pd.get_dummies(X_test['region_of_moscow'],dtype=float, prefix='region_of_moscow')], axis=1)

X_test_new.drop(columns=['region_of_moscow'], inplace=True)

print(X_test_new.shape)
X_test_new

(388, 22)

,min_to_metro,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,...,region_of_moscow_ЗАО,region_of_moscow_ЗелАО,region_of_moscow_НАО (Новомосковский),region_of_moscow_САО,region_of_moscow_СВАО,region_of_moscow_СЗАО,region_of_moscow_ЦАО,region_of_moscow_ЮАО,region_of_moscow_ЮВАО,region_of_moscow_ЮЗАО
1527,11.0,90.00,28.0,9.0,17.0,2020.0,0.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,7.0,44.45,14.7,17.0,51.0,2024.0,1.0,0.0,3.1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1242,6.0,13.20,8.2,10.0,17.0,2020.0,0.0,1.0,3.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,22.0,34.60,10.9,5.0,24.0,2025.0,1.0,0.0,3.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1737,8.0,110.00,28.0,2.0,4.0,2016.0,0.0,1.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,5.0,57.90,28.0,22.0,17.0,2020.0,0.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
887,6.0,58.00,47.2,32.0,33.0,2024.0,0.0,0.0,2.8,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
611,9.0,107.80,28.0,3.0,4.0,2024.0,1.0,1.0,3.3,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1169,6.0,86.00,18.0,63.0,66.0,2020.0,0.0,1.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
965,5.0,52.00,35.0,16.0,19.0,2014.0,0.0,0.0,2.7,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [759]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [760]:
model.fit(X_train_new, y_train)

LinearRegression()

In [761]:
y_train_pred = model.predict(X_train_new)

In [762]:
X_train_new.shape

(1549, 22)

In [763]:
y_train_pred.shape

(1549,)

In [764]:
y_test_pred = model.predict(X_test_new)

In [765]:
X_test_new.shape

(388, 22)

In [766]:
y_test_pred.shape

(388,)

In [767]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
from math import sqrt

In [768]:
RMSE_train = sqrt(mean_squared_error(y_train, y_train_pred))
RMSE_train

28160491.97335895

In [769]:
RMSE_test = sqrt(mean_squared_error(y_test, y_test_pred))
RMSE_test

39365873.61580528

In [770]:
R2_train = model.score(X_train_new, y_train)
R2_train

0.6940650215910601

In [771]:
R2_test = model.score(X_test_new, y_test)
R2_test

0.6608497957658628

# Парсинг студий и 1-комн., вторичка, не апартаменты

In [548]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=1&offer_type=flat&only_flat=1&only_foot=2&p={p}&region=1&room1=1&room9=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [549]:
header = ['link']
df7 = pd.DataFrame(data, columns = header)
df7.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_7.csv', sep = ';', encoding = 'utf8')
df7 = df7.drop_duplicates()

In [550]:
import warnings
warnings.filterwarnings("ignore")

df7['price'] = np.NaN
df7['min_to_metro'] = np.NaN
df7['region_of_moscow'] = np.NaN
df7['total_area'] = np.NaN
df7['living_area'] = np.NaN
df7['floor'] = np.NaN
df7['number_of_floors'] = np.NaN
df7['construction_year'] = np.NaN
df7['is_new'] = 0
df7['is_apartments'] = 0
df7['ceiling_height'] = np.NaN
df7['number_of_rooms'] = 1
df7['key_rent'] = 0.18
df7

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303387198/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
1,https://www.cian.ru/sale/flat/299890518/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
2,https://www.cian.ru/sale/flat/305418931/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
3,https://www.cian.ru/sale/flat/306327699/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
4,https://www.cian.ru/sale/flat/304600438/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,https://www.cian.ru/sale/flat/302288765/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
948,https://www.cian.ru/sale/flat/303475273/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
949,https://www.cian.ru/sale/flat/304490178/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
950,https://www.cian.ru/sale/flat/300960431/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
951,https://www.cian.ru/sale/flat/305242431/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18

In [551]:
df7.index = np.arange(0, len(df7))

In [552]:
df7

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303387198/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
1,https://www.cian.ru/sale/flat/299890518/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
2,https://www.cian.ru/sale/flat/305418931/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
3,https://www.cian.ru/sale/flat/306327699/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
4,https://www.cian.ru/sale/flat/304600438/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,https://www.cian.ru/sale/flat/302288765/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
847,https://www.cian.ru/sale/flat/303475273/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
848,https://www.cian.ru/sale/flat/304490178/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
849,https://www.cian.ru/sale/flat/300960431/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
850,https://www.cian.ru/sale/flat/305242431/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18

In [556]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df7)):
    print(j)
    url = df7['link'][j]
    r = requests.get(url)
    sleep(2)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df7['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df7['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df7['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df7['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df7['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df7['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df7['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df7['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df7['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
                else:
                    if 'Год постройки' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                        df7['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df7['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
             continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850

In [557]:
df7

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303387198/,11 700 000 ₽,20 мин.,НАО (Новомосковский),Общая площадь30 м²,Жилая площадь13,Этаж18 из 22,Этаж18 из 22,Год постройки2022,0,0,NaN,1,0.18
1,https://www.cian.ru/sale/flat/299890518/,32 000 000 ₽,11 мин.,САО,"Общая площадь41,5 м²","Жилая площадь23,4",Этаж9 из 40,Этаж9 из 40,Год постройки2021,0,0,NaN,1,0.18
2,https://www.cian.ru/sale/flat/305418931/,7 500 000 ₽,4 мин.,НАО (Новомосковский),Общая площадь39 м²,Жилая площадь14,Этаж4 из 16,Этаж4 из 16,Год постройки2017,0,0,"Высота потолков2,8 м",1,0.18
3,https://www.cian.ru/sale/flat/306327699/,16 900 000 ₽,8 мин.,СЗАО,Общая площадь46 м²,Жилая площадь21,Этаж8 из 12,Этаж8 из 12,Год постройки1976,0,0,"Высота потолков2,64 м",1,0.18
4,https://www.cian.ru/sale/flat/304600438/,21 500 000 ₽,14 мин.,СЗАО,Общая площадь30 м²,Жилая площадь12,Этаж28 из 44,Этаж28 из 44,Год постройки2023,0,0,"Высота потолков3,2 м",1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,https://www.cian.ru/sale/flat/302288765/,8 100 000 ₽,12 мин.,ВАО,Общая площадь31 м²,"Жилая площадь19,5",Этаж1 из 5,Этаж1 из 5,Год постройки1964,0,0,"Высота потолков2,65 м",1,0.18
847,https://www.cian.ru/sale/flat/303475273/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
848,https://www.cian.ru/sale/flat/304490178/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
849,https://www.cian.ru/sale/flat/300960431/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18
850,https://www.cian.ru/sale/flat/305242431/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,1,0.18

In [558]:
df7['price'].isna().sum()

690

In [559]:
df7 = df7.dropna(subset = 'price')

In [560]:
df7['price'].isna().sum()

0

In [561]:
df7.index = np.arange(0, len(df7))

In [562]:
df7

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303387198/,11 700 000 ₽,20 мин.,НАО (Новомосковский),Общая площадь30 м²,Жилая площадь13,Этаж18 из 22,Этаж18 из 22,Год постройки2022,0,0,NaN,1,0.18
1,https://www.cian.ru/sale/flat/299890518/,32 000 000 ₽,11 мин.,САО,"Общая площадь41,5 м²","Жилая площадь23,4",Этаж9 из 40,Этаж9 из 40,Год постройки2021,0,0,NaN,1,0.18
2,https://www.cian.ru/sale/flat/305418931/,7 500 000 ₽,4 мин.,НАО (Новомосковский),Общая площадь39 м²,Жилая площадь14,Этаж4 из 16,Этаж4 из 16,Год постройки2017,0,0,"Высота потолков2,8 м",1,0.18
3,https://www.cian.ru/sale/flat/306327699/,16 900 000 ₽,8 мин.,СЗАО,Общая площадь46 м²,Жилая площадь21,Этаж8 из 12,Этаж8 из 12,Год постройки1976,0,0,"Высота потолков2,64 м",1,0.18
4,https://www.cian.ru/sale/flat/304600438/,21 500 000 ₽,14 мин.,СЗАО,Общая площадь30 м²,Жилая площадь12,Этаж28 из 44,Этаж28 из 44,Год постройки2023,0,0,"Высота потолков3,2 м",1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,https://www.cian.ru/sale/flat/306304752/,5 700 000 ₽,12 мин.,ЮВАО,Общая площадь24 м²,Жилая площадь16,Этаж2 из 19,Этаж2 из 19,Год постройки2019,0,0,NaN,1,0.18
157,https://www.cian.ru/sale/flat/305955647/,8 000 000 ₽,7 мин.,ВАО,"Общая площадь31,8 м²","Жилая площадь19,8",Этаж4 из 9,Этаж4 из 9,Год постройки1966,0,0,"Высота потолков2,64 м",1,0.18
158,https://www.cian.ru/sale/flat/300422692/,8 000 000 ₽,8 мин.,ЮВАО,"Общая площадь34,7 м²",NaN,Этаж1 из 12,NaN,NaN,0,0,NaN,1,0.18
159,https://www.cian.ru/sale/flat/296648085/,8 050 000 ₽,9 мин.,ЮАО,"Общая площадь32,6 м²","Жилая площадь18,7",Этаж7 из 9,Этаж7 из 9,Год постройки1973,0,0,"Высота потолков2,64 м",1,0.18
160,https://www.cian.ru/sale/flat/302288765/,8 100 000 ₽,12 мин.,ВАО,Общая площадь31 м²,"Жилая площадь19,5",Этаж1 из 5,Этаж1 из 5,Год постройки1964,0,0,"Высота потолков2,65 м",1,0.18

# Парсинг 2-комн., вторичка, не апартаменты

In [563]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=1&offer_type=flat&only_flat=1&only_foot=2&p={p}&region=1&room2=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [564]:
header = ['link']
df8 = pd.DataFrame(data, columns = header)
df8.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_8.csv', sep = ';', encoding = 'utf8')
df8 = df8.drop_duplicates()

In [565]:
import warnings
warnings.filterwarnings("ignore")

df8['price'] = np.NaN
df8['min_to_metro'] = np.NaN
df8['region_of_moscow'] = np.NaN
df8['total_area'] = np.NaN
df8['living_area'] = np.NaN
df8['floor'] = np.NaN
df8['number_of_floors'] = np.NaN
df8['construction_year'] = np.NaN
df8['is_new'] = 0
df8['is_apartments'] = 0
df8['ceiling_height'] = np.NaN
df8['number_of_rooms'] = 2
df8['key_rent'] = 0.18
df8

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302543412/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
1,https://www.cian.ru/sale/flat/305913436/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
2,https://www.cian.ru/sale/flat/305913352/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
3,https://www.cian.ru/sale/flat/306389729/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
4,https://www.cian.ru/sale/flat/306201992/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,https://www.cian.ru/sale/flat/304685520/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
948,https://www.cian.ru/sale/flat/300133455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
949,https://www.cian.ru/sale/flat/305642315/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
950,https://www.cian.ru/sale/flat/304498191/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
951,https://www.cian.ru/sale/flat/305286864/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18

In [566]:
df8.index = np.arange(0, len(df8))

In [567]:
df8

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302543412/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
1,https://www.cian.ru/sale/flat/305913436/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
2,https://www.cian.ru/sale/flat/305913352/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
3,https://www.cian.ru/sale/flat/306389729/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
4,https://www.cian.ru/sale/flat/306201992/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,https://www.cian.ru/sale/flat/304685520/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
897,https://www.cian.ru/sale/flat/300133455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
898,https://www.cian.ru/sale/flat/305642315/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
899,https://www.cian.ru/sale/flat/304498191/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
900,https://www.cian.ru/sale/flat/305286864/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18

In [568]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df8)):
    print(j)
    url = df8['link'][j]
    r = requests.get(url)
    sleep(2)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df8['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df8['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df8['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df8['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df8['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df8['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df8['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df8['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df8['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
                else:
                    if 'Год постройки' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                        df8['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df8['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900

In [569]:
df8

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302543412/,59 900 000 ₽,5 мин.,ЦАО,"Общая площадь71,3 м²",Жилая площадь46,Этаж8 из 9,Этаж8 из 9,Год постройки1977,0,0,Высота потолков3 м,2,0.18
1,https://www.cian.ru/sale/flat/305913436/,34 000 000 ₽,19 мин.,ЦАО,"Общая площадь71,7 м²","Жилая площадь44,7",Этаж19 из 23,Этаж19 из 23,Год постройки2008,0,0,Высота потолков3 м,2,0.18
2,https://www.cian.ru/sale/flat/305913352/,17 900 000 ₽,13 мин.,ВАО,Общая площадь53 м²,Жилая площадь31,Этаж12 из 14,Этаж12 из 14,Год постройки1973,0,0,"Высота потолков2,64 м",2,0.18
3,https://www.cian.ru/sale/flat/306389729/,27 900 000 ₽,7 мин.,ЗАО,Общая площадь60 м²,Жилая площадь38,Этаж12 из 38,Этаж12 из 38,Год постройки2021,0,0,Высота потолков3 м,2,0.18
4,https://www.cian.ru/sale/flat/306201992/,34 500 000 ₽,9 мин.,ЗАО,"Общая площадь55,5 м²",NaN,Этаж5 из 20,Этаж5 из 20,Год постройки2022,0,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,https://www.cian.ru/sale/flat/304685520/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
897,https://www.cian.ru/sale/flat/300133455/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
898,https://www.cian.ru/sale/flat/305642315/,14 200 000 ₽,12 мин.,ЮВАО,"Общая площадь53,4 м²","Жилая площадь35,7",Этаж11 из 14,Этаж11 из 14,Год постройки1996,0,0,NaN,2,0.18
899,https://www.cian.ru/sale/flat/304498191/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18
900,https://www.cian.ru/sale/flat/305286864/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,2,0.18

In [570]:
df8['price'].isna().sum()

729

In [571]:
df8 = df8.dropna(subset = 'price')

In [572]:
df8['price'].isna().sum()

0

In [573]:
df8.index = np.arange(0, len(df8))

In [574]:
df8

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302543412/,59 900 000 ₽,5 мин.,ЦАО,"Общая площадь71,3 м²",Жилая площадь46,Этаж8 из 9,Этаж8 из 9,Год постройки1977,0,0,Высота потолков3 м,2,0.18
1,https://www.cian.ru/sale/flat/305913436/,34 000 000 ₽,19 мин.,ЦАО,"Общая площадь71,7 м²","Жилая площадь44,7",Этаж19 из 23,Этаж19 из 23,Год постройки2008,0,0,Высота потолков3 м,2,0.18
2,https://www.cian.ru/sale/flat/305913352/,17 900 000 ₽,13 мин.,ВАО,Общая площадь53 м²,Жилая площадь31,Этаж12 из 14,Этаж12 из 14,Год постройки1973,0,0,"Высота потолков2,64 м",2,0.18
3,https://www.cian.ru/sale/flat/306389729/,27 900 000 ₽,7 мин.,ЗАО,Общая площадь60 м²,Жилая площадь38,Этаж12 из 38,Этаж12 из 38,Год постройки2021,0,0,Высота потолков3 м,2,0.18
4,https://www.cian.ru/sale/flat/306201992/,34 500 000 ₽,9 мин.,ЗАО,"Общая площадь55,5 м²",NaN,Этаж5 из 20,Этаж5 из 20,Год постройки2022,0,0,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,https://www.cian.ru/sale/flat/304251235/,13 499 000 ₽,8 мин.,ЮЗАО,Общая площадь46 м²,Жилая площадь29,Этаж5 из 9,Этаж5 из 9,Год постройки1967,0,0,"Высота потолков2,8 м",2,0.18
168,https://www.cian.ru/sale/flat/299529815/,13 599 000 ₽,11 мин.,НАО (Новомосковский),"Общая площадь47,4 м²","Жилая площадь26,3",Этаж6 из 15,Этаж6 из 15,Год постройки2019,0,0,NaN,2,0.18
169,https://www.cian.ru/sale/flat/305183487/,13 700 000 ₽,7 мин.,ЮАО,"Общая площадь44,5 м²",Жилая площадь29,Этаж3 из 12,Этаж3 из 12,Год постройки1972,0,0,NaN,2,0.18
170,https://www.cian.ru/sale/flat/306177556/,13 800 000 ₽,5 мин.,ЮВАО,Общая площадь52 м²,Жилая площадь35,Этаж16 из 19,Этаж16 из 19,Год постройки2014,0,0,"Высота потолков2,7 м",2,0.18
171,https://www.cian.ru/sale/flat/305642315/,14 200 000 ₽,12 мин.,ЮВАО,"Общая площадь53,4 м²","Жилая площадь35,7",Этаж11 из 14,Этаж11 из 14,Год постройки1996,0,0,NaN,2,0.18

# Парсинг 3-комн., вторичка, не апартаменты

In [575]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=1&offer_type=flat&only_flat=1&only_foot=2&p={p}&region=1&room3=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [576]:
header = ['link']
df9 = pd.DataFrame(data, columns = header)
df9.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_9.csv', sep = ';', encoding = 'utf8')
df9 = df9.drop_duplicates()

In [577]:
import warnings
warnings.filterwarnings("ignore")

df9['price'] = np.NaN
df9['min_to_metro'] = np.NaN
df9['region_of_moscow'] = np.NaN
df9['total_area'] = np.NaN
df9['living_area'] = np.NaN
df9['floor'] = np.NaN
df9['number_of_floors'] = np.NaN
df9['construction_year'] = np.NaN
df9['is_new'] = 0
df9['is_apartments'] = 0
df9['ceiling_height'] = np.NaN
df9['number_of_rooms'] = 3
df9['key_rent'] = 0.18
df9

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302788383/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/300822468/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305010279/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
3,https://www.cian.ru/sale/flat/294675252/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/295271852/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,https://www.cian.ru/sale/flat/300539712/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
1004,https://www.cian.ru/sale/flat/291951311/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
1005,https://www.cian.ru/sale/flat/306033079/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
1006,https://www.cian.ru/sale/flat/299614081/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
1007,https://www.cian.ru/sale/flat/282953925/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18

In [578]:
df9.index = np.arange(0, len(df9))

In [579]:
df9

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302788383/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/300822468/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305010279/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
3,https://www.cian.ru/sale/flat/294675252/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/295271852/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,https://www.cian.ru/sale/flat/300539712/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
967,https://www.cian.ru/sale/flat/291951311/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
968,https://www.cian.ru/sale/flat/306033079/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
969,https://www.cian.ru/sale/flat/299614081/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
970,https://www.cian.ru/sale/flat/282953925/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18

In [580]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df9)):
    print(j)
    url = df9['link'][j]
    r = requests.get(url)
    sleep(2)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df9['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df9['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df9['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df9['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df9['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df9['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df9['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df9['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df9['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
                else:
                    if 'Год постройки' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                        df9['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df9['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970

In [581]:
df9

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302788383/,135 000 000 ₽,13 мин.,ЦАО,Общая площадь123 м²,Жилая площадь108,Этаж2 из 9,Этаж2 из 9,Год постройки2004,0,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/300822468/,115 000 000 ₽,7 мин.,ЦАО,Общая площадь117 м²,NaN,Этаж5 из 21,NaN,NaN,0,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305010279/,76 160 000 ₽,5 мин.,ЦАО,"Общая площадь108,8 м²",NaN,Этаж5 из 5,Этаж5 из 5,NaN,0,0,NaN,3,0.18
3,https://www.cian.ru/sale/flat/294675252/,111 782 770 ₽,6 мин.,ЦАО,"Общая площадь131,4 м²","Жилая площадь101,4",Этаж4 из 7,Этаж4 из 7,Год постройки1914,0,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/295271852/,153 000 000 ₽,6 мин.,ЦАО,Общая площадь94 м²,NaN,Этаж2 из 7,Этаж2 из 7,Год постройки1920,0,0,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,https://www.cian.ru/sale/flat/300539712/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
967,https://www.cian.ru/sale/flat/291951311/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
968,https://www.cian.ru/sale/flat/306033079/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18
969,https://www.cian.ru/sale/flat/299614081/,89 900 001 ₽,14 мин.,ЦАО,"Общая площадь120,74 м²",NaN,Этаж24 из 35,Этаж24 из 35,Год постройки2023,0,0,NaN,3,0.18
970,https://www.cian.ru/sale/flat/282953925/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,3,0.18

In [582]:
df9['price'].isna().sum()

787

In [583]:
df9 = df9.dropna(subset = 'price')

In [584]:
df9['price'].isna().sum()

0

In [585]:
df9.index = np.arange(0, len(df9))

In [586]:
df9

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302788383/,135 000 000 ₽,13 мин.,ЦАО,Общая площадь123 м²,Жилая площадь108,Этаж2 из 9,Этаж2 из 9,Год постройки2004,0,0,NaN,3,0.18
1,https://www.cian.ru/sale/flat/300822468/,115 000 000 ₽,7 мин.,ЦАО,Общая площадь117 м²,NaN,Этаж5 из 21,NaN,NaN,0,0,NaN,3,0.18
2,https://www.cian.ru/sale/flat/305010279/,76 160 000 ₽,5 мин.,ЦАО,"Общая площадь108,8 м²",NaN,Этаж5 из 5,Этаж5 из 5,NaN,0,0,NaN,3,0.18
3,https://www.cian.ru/sale/flat/294675252/,111 782 770 ₽,6 мин.,ЦАО,"Общая площадь131,4 м²","Жилая площадь101,4",Этаж4 из 7,Этаж4 из 7,Год постройки1914,0,0,NaN,3,0.18
4,https://www.cian.ru/sale/flat/295271852/,153 000 000 ₽,6 мин.,ЦАО,Общая площадь94 м²,NaN,Этаж2 из 7,Этаж2 из 7,Год постройки1920,0,0,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,https://www.cian.ru/sale/flat/276759775/,59 337 265 ₽,15 мин.,ЗАО,"Общая площадь112,2 м²",NaN,Этаж11 из 17,NaN,NaN,0,0,NaN,3,0.18
180,https://www.cian.ru/sale/flat/305002544/,65 000 000 ₽,9 мин.,СЗАО,Общая площадь111 м²,Жилая площадь58,Этаж23 из 33,Этаж23 из 33,Год постройки2023,0,0,NaN,3,0.18
181,https://www.cian.ru/sale/flat/299519732/,74 000 000 ₽,14 мин.,ЗАО,Общая площадь115 м²,NaN,Этаж3 из 32,NaN,NaN,0,0,NaN,3,0.18
182,https://www.cian.ru/sale/flat/288214958/,80 000 000 ₽,7 мин.,ЦАО,"Общая площадь153,3 м²",Жилая площадь108,Этаж7 из 10,Этаж7 из 10,Год постройки2016,0,0,NaN,3,0.18
183,https://www.cian.ru/sale/flat/299614081/,89 900 001 ₽,14 мин.,ЦАО,"Общая площадь120,74 м²",NaN,Этаж24 из 35,Этаж24 из 35,Год постройки2023,0,0,NaN,3,0.18

# Соединяем в единый датасет: вторичка, не апартаменты

In [587]:
df = pd.concat([df7, df8, df9], ignore_index=True)

In [588]:
for i in range(0, len(df['price'])):
    df['price'][i] = "".join(c for c in df['price'][i] if  c.isdecimal())
for i in range(0, len(df['price'])):
    df['price'][i] = int(df['price'][i])
df['price'] = df['price'].astype('int')

In [594]:
for i in range(0, len(df)):
    try:
        df['min_to_metro'][i] = int(df['min_to_metro'][i].replace('мин.', ''))
    except:
        continue
df['min_to_metro'][124] = np.NaN
df['min_to_metro'][190] = np.NaN

df['min_to_metro'] = df['min_to_metro'].astype('float')

In [595]:
for i in range(0, len(df)):
    try:
        df['living_area'][i] = float(df['living_area'][i].replace('Жилая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['living_area'] = df['living_area'].astype('float')

In [596]:
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i].replace('Этаж', '')
    except:
        continue
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i][:2]
    except:
        continue
for i in range(0, len(df)):
    try:
        df['number_of_floors'][i] = df['number_of_floors'][i][-2:]
    except:
        continue
df['floor'] = df['floor'].astype('float')
df['number_of_floors'] = df['number_of_floors'].astype('float')

In [597]:
for i in range(0, len(df)):
    try:
        df['construction_year'][i] = df['construction_year'][i][-4:]
    except:
        continue
df['construction_year'] = df['construction_year'].astype('float')

In [598]:
for i in range(0, len(df)):
    try:
        df['ceiling_height'][i] = float(df['ceiling_height'][i].replace('Высота потолков', '').replace('м', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['ceiling_height'] = df['ceiling_height'].astype('float')

In [599]:
for i in range(0, len(df)):
    try:
        df['total_area'][i] = float(df['total_area'][i].replace('Общая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['total_area'] = df['total_area'].astype('float')

In [600]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               517 non-null    object
 1   price              517 non-null    int64
 2   min_to_metro       515 non-null    float64
 3   region_of_moscow   517 non-null    object
 4   total_area         517 non-null    float64
 5   living_area        402 non-null    float64
 6   floor              517 non-null    float64
 7   number_of_floors   472 non-null    float64
 8   construction_year  442 non-null    float64
 9   is_new             517 non-null    int64
 10  is_apartments      517 non-null    int64
 11  ceiling_height     220 non-null    float64
 12  number_of_rooms    517 non-null    int64
 13  key_rent           517 non-null    float64
dtypes: float64(8), int64(4), object(2)
memory usage: 56.7+ KB

In [601]:
df.to_csv('cian_parses_vtorich_ne_apart.csv', header=True)

# Парсинг студий и 1-комн., вторичка, апартаменты

In [627]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?apartment=1&deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=1&offer_type=flat&only_foot=2&p={p}&region=1&room1=1&room9=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [628]:
header = ['link']
df10 = pd.DataFrame(data, columns = header)
df10.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_10.csv', sep = ';', encoding = 'utf8')
df10 = df10.drop_duplicates()

In [629]:
import warnings
warnings.filterwarnings("ignore")

df10['price'] = np.NaN
df10['min_to_metro'] = np.NaN
df10['region_of_moscow'] = np.NaN
df10['total_area'] = np.NaN
df10['living_area'] = np.NaN
df10['floor'] = np.NaN
df10['number_of_floors'] = np.NaN
df10['construction_year'] = np.NaN
df10['is_new'] = 0
df10['is_apartments'] = 1
df10['ceiling_height'] = np.NaN
df10['number_of_rooms'] = 1
df10['key_rent'] = 0.18
df10

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/301496936/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
1,https://www.cian.ru/sale/flat/298880305/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/303486739/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/305335849/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/302748882/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,https://www.cian.ru/sale/flat/304447659/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
970,https://www.cian.ru/sale/flat/305751707/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
971,https://www.cian.ru/sale/flat/303110956/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
972,https://www.cian.ru/sale/flat/304323014/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
973,https://www.cian.ru/sale/flat/299257749/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18

In [630]:
df10.index = np.arange(0, len(df10))

In [631]:
df10

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/301496936/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
1,https://www.cian.ru/sale/flat/298880305/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/303486739/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/305335849/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/302748882/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,https://www.cian.ru/sale/flat/304447659/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
910,https://www.cian.ru/sale/flat/305751707/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
911,https://www.cian.ru/sale/flat/303110956/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
912,https://www.cian.ru/sale/flat/304323014/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
913,https://www.cian.ru/sale/flat/299257749/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18

In [633]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df10)):
    print(j)
    url = df10['link'][j]
    r = requests.get(url)
    sleep(3)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df10['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df10['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df10['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df10['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df10['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df10['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df10['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df10['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df10['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
                else:
                    if 'Год постройки' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                        df10['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df10['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913

In [634]:
df10

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/301496936/,58 786 000 ₽,2 мин.,ЦАО,"Общая площадь53,2 м²",NaN,Этаж7 из 8,Этаж7 из 8,NaN,0,1,NaN,1,0.18
1,https://www.cian.ru/sale/flat/298880305/,28 100 000 ₽,13 мин.,ЦАО,Общая площадь57 м²,Жилая площадь44,Этаж2 из 44,Этаж2 из 44,Год постройки2018,0,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/303486739/,6 000 000 ₽,16 мин.,ВАО,"Общая площадь28,3 м²",Жилая площадь13,Этаж5 из 6,Этаж5 из 6,NaN,0,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/305335849/,24 000 000 ₽,6 мин.,ЦАО,Общая площадь42 м²,NaN,Этаж2 из 10,Этаж2 из 10,Год постройки2015,0,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/302748882/,6 000 000 ₽,6 мин.,ЮВАО,Общая площадь24 м²,NaN,Этаж2 из 5,NaN,NaN,0,1,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,https://www.cian.ru/sale/flat/304447659/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
910,https://www.cian.ru/sale/flat/305751707/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
911,https://www.cian.ru/sale/flat/303110956/,4 900 000 ₽,5 мин.,ЦАО,Общая площадь15 м²,Жилая площадь13,Этаж1 из 5,Этаж1 из 5,Год постройки1929,0,1,NaN,1,0.18
912,https://www.cian.ru/sale/flat/304323014/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18
913,https://www.cian.ru/sale/flat/299257749/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,1,0.18

In [635]:
df10['price'].isna().sum()

672

In [636]:
df10 = df10.dropna(subset = 'price')

In [637]:
df10['price'].isna().sum()

0

In [638]:
df10.index = np.arange(0, len(df10))

In [639]:
df10

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/301496936/,58 786 000 ₽,2 мин.,ЦАО,"Общая площадь53,2 м²",NaN,Этаж7 из 8,Этаж7 из 8,NaN,0,1,NaN,1,0.18
1,https://www.cian.ru/sale/flat/298880305/,28 100 000 ₽,13 мин.,ЦАО,Общая площадь57 м²,Жилая площадь44,Этаж2 из 44,Этаж2 из 44,Год постройки2018,0,1,NaN,1,0.18
2,https://www.cian.ru/sale/flat/303486739/,6 000 000 ₽,16 мин.,ВАО,"Общая площадь28,3 м²",Жилая площадь13,Этаж5 из 6,Этаж5 из 6,NaN,0,1,NaN,1,0.18
3,https://www.cian.ru/sale/flat/305335849/,24 000 000 ₽,6 мин.,ЦАО,Общая площадь42 м²,NaN,Этаж2 из 10,Этаж2 из 10,Год постройки2015,0,1,NaN,1,0.18
4,https://www.cian.ru/sale/flat/302748882/,6 000 000 ₽,6 мин.,ЮВАО,Общая площадь24 м²,NaN,Этаж2 из 5,NaN,NaN,0,1,NaN,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,https://www.cian.ru/sale/flat/306343171/,4 700 000 ₽,7 мин.,ЮЗАО,Общая площадь18 м²,Жилая площадь16,Этаж3 из 5,Этаж3 из 5,NaN,0,1,NaN,1,0.18
238,https://www.cian.ru/sale/flat/305219911/,4 700 000 ₽,13 мин.,ЦАО,Общая площадь20 м²,NaN,Этаж1 из 5,NaN,NaN,0,1,NaN,1,0.18
239,https://www.cian.ru/sale/flat/303858878/,4 800 000 ₽,16 мин.,ВАО,Общая площадь25 м²,NaN,Этаж5 из 6,Этаж5 из 6,NaN,0,1,NaN,1,0.18
240,https://www.cian.ru/sale/flat/304347527/,4 896 000 ₽,11 мин.,ЮАО,"Общая площадь19,3 м²",Жилая площадь16,Этаж1 из 12,Этаж1 из 12,Год постройки1977,0,1,"Высота потолков2,7 м",1,0.18
241,https://www.cian.ru/sale/flat/303110956/,4 900 000 ₽,5 мин.,ЦАО,Общая площадь15 м²,Жилая площадь13,Этаж1 из 5,Этаж1 из 5,Год постройки1929,0,1,NaN,1,0.18

# Парсинг 2-комн., вторичка, апартаменты

In [640]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?apartment=1&deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=1&offer_type=flat&only_foot=2&p={p}&region=1&room2=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [641]:
header = ['link']
df11 = pd.DataFrame(data, columns = header)
df11.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_11.csv', sep = ';', encoding = 'utf8')
df11 = df11.drop_duplicates()

In [642]:
import warnings
warnings.filterwarnings("ignore")

df11['price'] = np.NaN
df11['min_to_metro'] = np.NaN
df11['region_of_moscow'] = np.NaN
df11['total_area'] = np.NaN
df11['living_area'] = np.NaN
df11['floor'] = np.NaN
df11['number_of_floors'] = np.NaN
df11['construction_year'] = np.NaN
df11['is_new'] = 0
df11['is_apartments'] = 1
df11['ceiling_height'] = np.NaN
df11['number_of_rooms'] = 2
df11['key_rent'] = 0.18
df11

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302081797/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
1,https://www.cian.ru/sale/flat/306113562/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/296367330/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
3,https://www.cian.ru/sale/flat/272003903/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/304817239/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,https://www.cian.ru/sale/flat/305329144/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
942,https://www.cian.ru/sale/flat/295863285/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
943,https://www.cian.ru/sale/flat/297997441/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
944,https://www.cian.ru/sale/flat/289787187/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
945,https://www.cian.ru/sale/flat/303462387/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18

In [643]:
df11.index = np.arange(0, len(df11))

In [644]:
df11

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302081797/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
1,https://www.cian.ru/sale/flat/306113562/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/296367330/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
3,https://www.cian.ru/sale/flat/272003903/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/304817239/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,https://www.cian.ru/sale/flat/305329144/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
911,https://www.cian.ru/sale/flat/295863285/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
912,https://www.cian.ru/sale/flat/297997441/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
913,https://www.cian.ru/sale/flat/289787187/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
914,https://www.cian.ru/sale/flat/303462387/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18

In [650]:
import warnings
warnings.filterwarnings("ignore")

for j in range(0, len(df11)):
    print(j)
    url = df11['link'][j]
    r = requests.get(url)
    sleep(3)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df11['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df11['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df11['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df11['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df11['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df11['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df11['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df11['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df11['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
                else:
                    if 'Год постройки' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                        df11['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df11['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914

In [651]:
df11

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302081797/,79 000 000 ₽,3 мин.,ЦАО,"Общая площадь69,4 м²",NaN,Этаж2 из 10,NaN,NaN,0,1,NaN,2,0.18
1,https://www.cian.ru/sale/flat/306113562/,73 000 000 ₽,10 мин.,ЦАО,Общая площадь55 м²,Жилая площадь40,Этаж6 из 8,Этаж6 из 8,NaN,0,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/296367330/,7 500 000 ₽,6 мин.,ВАО,"Общая площадь51,5 м²",NaN,Этаж2 из 5,Этаж2 из 5,NaN,0,1,NaN,2,0.18
3,https://www.cian.ru/sale/flat/272003903/,27 500 000 ₽,7 мин.,САО,Общая площадь43 м²,NaN,Этаж5 из 6,NaN,NaN,0,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/304817239/,48 000 000 ₽,17 мин.,ЗАО,"Общая площадь64,4 м²",Жилая площадь38,Этаж10 из 34,Этаж10 из 34,NaN,0,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,https://www.cian.ru/sale/flat/305329144/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
911,https://www.cian.ru/sale/flat/295863285/,55 500 000 ₽,6 мин.,ЦАО,Общая площадь70 м²,Жилая площадь48,Этаж37 из 65,Этаж37 из 65,NaN,0,1,NaN,2,0.18
912,https://www.cian.ru/sale/flat/297997441/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
913,https://www.cian.ru/sale/flat/289787187/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18
914,https://www.cian.ru/sale/flat/303462387/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2,0.18

In [652]:
df11['price'].isna().sum()

624

In [653]:
df11 = df11.dropna(subset = 'price')

In [654]:
df11['price'].isna().sum()

0

In [655]:
df11.index = np.arange(0, len(df11))

In [656]:
df11

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/302081797/,79 000 000 ₽,3 мин.,ЦАО,"Общая площадь69,4 м²",NaN,Этаж2 из 10,NaN,NaN,0,1,NaN,2,0.18
1,https://www.cian.ru/sale/flat/306113562/,73 000 000 ₽,10 мин.,ЦАО,Общая площадь55 м²,Жилая площадь40,Этаж6 из 8,Этаж6 из 8,NaN,0,1,NaN,2,0.18
2,https://www.cian.ru/sale/flat/296367330/,7 500 000 ₽,6 мин.,ВАО,"Общая площадь51,5 м²",NaN,Этаж2 из 5,Этаж2 из 5,NaN,0,1,NaN,2,0.18
3,https://www.cian.ru/sale/flat/272003903/,27 500 000 ₽,7 мин.,САО,Общая площадь43 м²,NaN,Этаж5 из 6,NaN,NaN,0,1,NaN,2,0.18
4,https://www.cian.ru/sale/flat/304817239/,48 000 000 ₽,17 мин.,ЗАО,"Общая площадь64,4 м²",Жилая площадь38,Этаж10 из 34,Этаж10 из 34,NaN,0,1,NaN,2,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,https://www.cian.ru/sale/flat/303217263/,49 900 000 ₽,9 мин.,ЦАО,Общая площадь63 м²,"Жилая площадь37,3",Этаж3 из 4,Этаж3 из 4,NaN,0,1,NaN,2,0.18
287,https://www.cian.ru/sale/flat/301431424/,49 900 000 ₽,10 мин.,ЦАО,"Общая площадь53,9 м²",NaN,Этаж2 из 5,NaN,NaN,0,1,NaN,2,0.18
288,https://www.cian.ru/sale/flat/304066059/,52 000 000 ₽,25 мин.,ЮАО,Общая площадь95 м²,Жилая площадь36,Этаж8 из 8,Этаж8 из 8,Год постройки2016,0,1,NaN,2,0.18
289,https://www.cian.ru/sale/flat/302490465/,52 900 000 ₽,6 мин.,ЦАО,"Общая площадь60,96 м²",NaN,Этаж4 из 13,Этаж4 из 13,Год постройки2016,0,1,NaN,2,0.18
290,https://www.cian.ru/sale/flat/295863285/,55 500 000 ₽,6 мин.,ЦАО,Общая площадь70 м²,Жилая площадь48,Этаж37 из 65,Этаж37 из 65,NaN,0,1,NaN,2,0.18

# Парсинг 3-комн., вторичка, апартаменты

In [657]:
data = []

for p in range(1, 55):
    print(p)
    url = (f'https://www.cian.ru/cat.php?apartment=1&deal_type=sale&engine_version=2&foot_min=45&object_type%5B0%5D=1&offer_type=flat&only_foot=2&p={p}&region=1&room3=1')
    r = requests.get(url)
    sleep(1)
    soup = BeautifulSoup(r.text, 'lxml')
    flats = soup.findAll('article', class_='_93444fe79c--container--Povoi _93444fe79c--cont--OzgVc')
    for flat in flats:
        try:
            link = flat.find('a', class_ = '_93444fe79c--link--eoxce').get('href')
        except AttributeError:
             continue
        data.append([link])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [658]:
header = ['link']
df12 = pd.DataFrame(data, columns = header)
df12.to_csv('/Users/krop/Downloads/cian_flats_23.08.24_12.csv', sep = ';', encoding = 'utf8')
df12 = df12.drop_duplicates()

In [659]:
import warnings
warnings.filterwarnings("ignore")

df12['price'] = np.NaN
df12['min_to_metro'] = np.NaN
df12['region_of_moscow'] = np.NaN
df12['total_area'] = np.NaN
df12['living_area'] = np.NaN
df12['floor'] = np.NaN
df12['number_of_floors'] = np.NaN
df12['construction_year'] = np.NaN
df12['is_new'] = 0
df12['is_apartments'] = 1
df12['ceiling_height'] = np.NaN
df12['number_of_rooms'] = 3
df12['key_rent'] = 0.18
df12

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/306347949/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
1,https://www.cian.ru/sale/flat/304740019/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303377013/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
3,https://www.cian.ru/sale/flat/298382835/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
4,https://www.cian.ru/sale/flat/302059022/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,https://www.cian.ru/sale/flat/300427641/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
970,https://www.cian.ru/sale/flat/305872644/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
971,https://www.cian.ru/sale/flat/305629365/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
972,https://www.cian.ru/sale/flat/303463498/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
973,https://www.cian.ru/sale/flat/295989074/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18

In [660]:
df12.index = np.arange(0, len(df12))

In [661]:
df12

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/306347949/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
1,https://www.cian.ru/sale/flat/304740019/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303377013/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
3,https://www.cian.ru/sale/flat/298382835/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
4,https://www.cian.ru/sale/flat/302059022/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,https://www.cian.ru/sale/flat/300427641/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
969,https://www.cian.ru/sale/flat/305872644/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
970,https://www.cian.ru/sale/flat/305629365/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
971,https://www.cian.ru/sale/flat/303463498/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
972,https://www.cian.ru/sale/flat/295989074/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18

In [662]:
import warnings
warnings.filterwarnings("ignore")


for j in range(0, len(df12)):
    print(j)
    url = df12['link'][j]
    r = requests.get(url)
    sleep(3)
    soup = BeautifulSoup(r.text, 'lxml')
    try:
        df12['price'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--aside--uq1El').find('span', class_='a10a3f92e9--color_black_100--Ephi7 a10a3f92e9--lineHeight_9u--limEs a10a3f92e9--fontWeight_bold--BbhnX a10a3f92e9--fontSize_28px--P1gR4 a10a3f92e9--display_block--KYb25 a10a3f92e9--text--e4SBY').text
        df12['min_to_metro'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('ul', class_='a10a3f92e9--undergrounds--sGE99').find('li', class_='a10a3f92e9--underground--pjGNr').find('span', class_='a10a3f92e9--underground_time--YvrcI').text
        df12['region_of_moscow'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--header--cUtKM').find('div', class_='a10a3f92e9--header-information--w7fS9').find('div', class_='a10a3f92e9--address-line--GRDTb').findAll('a', class_='a10a3f92e9--address--SMU25')[1].text
        for i in range(0,6):
            if 'Общая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text:
                df12['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--text--eplgM').text
            else:
                df12['total_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[0].text
        try:
            for i in range(0,4):
                if 'Жилая площадь' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df12['living_area'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df12['floor'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,4):
                if 'Этаж' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df12['number_of_floors'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Год сдачи' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text:
                    df12['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--tqDAE').findAll('div', class_='a10a3f92e9--item--Jp5Qv')[i].text
                else:
                    if 'Год постройки' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                        df12['construction_year'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN a10a3f92e9--right--_9uBM').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
        try:
            for i in range(0,5):
                if 'Высота потолков' in soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text:
                    df12['ceiling_height'][j] = soup.find('div', class_='a10a3f92e9--page--OYngf').find('div', class_='a10a3f92e9--center--b3Pm0').find('div', class_='a10a3f92e9--container--rGqFe').find('table', class_='a10a3f92e9--group--K5ZqN').findAll('tr', class_='a10a3f92e9--item--qJhdR')[i].text
        except:
            continue
    except AttributeError:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972

In [663]:
df12

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/306347949/,143 770 000 ₽,10 мин.,ЦАО,"Общая площадь130,7 м²",NaN,Этаж3 из 6,NaN,NaN,0,1,NaN,3,0.18
1,https://www.cian.ru/sale/flat/304740019/,36 000 000 ₽,8 мин.,САО,"Общая площадь74,7 м²",NaN,Этаж3 из 18,Этаж3 из 18,Год постройки2018,0,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303377013/,28 000 000 ₽,21 мин.,СЗАО,Общая площадь66 м²,NaN,Этаж6 из 25,Этаж6 из 25,NaN,0,1,NaN,3,0.18
3,https://www.cian.ru/sale/flat/298382835/,312 000 000 ₽,1 мин.,ЦАО,Общая площадь166 м²,Жилая площадь95,Этаж4 из 5,Этаж4 из 5,NaN,0,1,Высота потолков3 м,3,0.18
4,https://www.cian.ru/sale/flat/302059022/,49 500 000 ₽,7 мин.,САО,"Общая площадь76,8 м²",NaN,Этаж4 из 6,NaN,NaN,0,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,https://www.cian.ru/sale/flat/300427641/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
969,https://www.cian.ru/sale/flat/305872644/,330 000 000 ₽,1 мин.,ЦАО,"Общая площадь160,3 м²",Жилая площадь70,Этаж4 из 9,Этаж4 из 9,NaN,0,1,NaN,3,0.18
970,https://www.cian.ru/sale/flat/305629365/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
971,https://www.cian.ru/sale/flat/303463498/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18
972,https://www.cian.ru/sale/flat/295989074/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,3,0.18

In [664]:
df12['price'].isna().sum()

720

In [665]:
df12 = df12.dropna(subset = 'price')

In [666]:
df12['price'].isna().sum()

0

In [667]:
df12.index = np.arange(0, len(df12))

In [668]:
df12

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/306347949/,143 770 000 ₽,10 мин.,ЦАО,"Общая площадь130,7 м²",NaN,Этаж3 из 6,NaN,NaN,0,1,NaN,3,0.18
1,https://www.cian.ru/sale/flat/304740019/,36 000 000 ₽,8 мин.,САО,"Общая площадь74,7 м²",NaN,Этаж3 из 18,Этаж3 из 18,Год постройки2018,0,1,NaN,3,0.18
2,https://www.cian.ru/sale/flat/303377013/,28 000 000 ₽,21 мин.,СЗАО,Общая площадь66 м²,NaN,Этаж6 из 25,Этаж6 из 25,NaN,0,1,NaN,3,0.18
3,https://www.cian.ru/sale/flat/298382835/,312 000 000 ₽,1 мин.,ЦАО,Общая площадь166 м²,Жилая площадь95,Этаж4 из 5,Этаж4 из 5,NaN,0,1,Высота потолков3 м,3,0.18
4,https://www.cian.ru/sale/flat/302059022/,49 500 000 ₽,7 мин.,САО,"Общая площадь76,8 м²",NaN,Этаж4 из 6,NaN,NaN,0,1,NaN,3,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,https://www.cian.ru/sale/flat/302092616/,238 163 120 ₽,2 мин.,ЦАО,Общая площадь189 м²,NaN,Этаж34 из 65,NaN,NaN,0,1,NaN,3,0.18
249,https://www.cian.ru/sale/flat/300466720/,485 486 360 ₽,2 мин.,ЦАО,"Общая площадь269,4 м²",NaN,Этаж69 из 75,NaN,NaN,0,1,NaN,3,0.18
250,https://www.cian.ru/sale/flat/306281550/,23 000 000 ₽,2 мин.,ЮВАО,Общая площадь75 м²,Жилая площадь50,Этаж1 из 5,Этаж1 из 5,Год постройки1933,0,1,Высота потолков3 м,3,0.18
251,https://www.cian.ru/sale/flat/305487551/,135 400 000 ₽,11 мин.,ЦАО,Общая площадь120 м²,NaN,Этаж6 из 8,Этаж6 из 8,NaN,0,1,NaN,3,0.18
252,https://www.cian.ru/sale/flat/305872644/,330 000 000 ₽,1 мин.,ЦАО,"Общая площадь160,3 м²",Жилая площадь70,Этаж4 из 9,Этаж4 из 9,NaN,0,1,NaN,3,0.18

# Соединяем в единый датасет: вторичка, апартаменты

In [697]:
df = pd.concat([df10, df11, df12], ignore_index=True)

In [698]:
for i in range(0, len(df['price'])):
    df['price'][i] = "".join(c for c in df['price'][i] if  c.isdecimal())
for i in range(0, len(df['price'])):
    df['price'][i] = int(df['price'][i])
df['price'] = df['price'].astype('int')

In [699]:
for i in range(0, len(df)):
    try:
        df['min_to_metro'][i] = int(df['min_to_metro'][i].replace('мин.', ''))
    except:
        continue
df['min_to_metro'] = df['min_to_metro'].astype('float')

In [700]:
for i in range(0, len(df)):
    try:
        df['living_area'][i] = float(df['living_area'][i].replace('Жилая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['living_area'] = df['living_area'].astype('float')

In [701]:
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i].replace('Этаж', '')
    except:
        continue
for i in range(0, len(df)):
    try:
        df['floor'][i] = df['floor'][i][:2]
    except:
        continue
for i in range(0, len(df)):
    try:
        df['number_of_floors'][i] = df['number_of_floors'][i][-2:]
    except:
        continue
df['floor'] = df['floor'].astype('float')
df['number_of_floors'] = df['number_of_floors'].astype('float')

In [702]:
for i in range(0, len(df)):
    try:
        df['construction_year'][i] = df['construction_year'][i][-4:]
    except:
        continue
df['construction_year'] = df['construction_year'].astype('float')

In [703]:
for i in range(0, len(df)):
    try:
        df['ceiling_height'][i] = float(df['ceiling_height'][i].replace('Высота потолков', '').replace('м', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['ceiling_height'] = df['ceiling_height'].astype('float')

In [704]:
for i in range(0, len(df)):
    try:
        df['total_area'][i] = float(df['total_area'][i].replace('Общая площадь', '').replace('м²', '').replace(' ', '').replace(',', '.'))
    except:
        continue
df['total_area'] = df['total_area'].astype('float')

In [705]:
df['region_of_moscow'][102] = 'ЮАО'

In [706]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786 entries, 0 to 785
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               786 non-null    object
 1   price              786 non-null    int64
 2   min_to_metro       784 non-null    float64
 3   region_of_moscow   784 non-null    object
 4   total_area         784 non-null    float64
 5   living_area        461 non-null    float64
 6   floor              782 non-null    float64
 7   number_of_floors   575 non-null    float64
 8   construction_year  285 non-null    float64
 9   is_new             786 non-null    int64
 10  is_apartments      786 non-null    int64
 11  ceiling_height     123 non-null    float64
 12  number_of_rooms    786 non-null    int64
 13  key_rent           786 non-null    float64
dtypes: float64(8), int64(4), object(2)
memory usage: 86.1+ KB

In [707]:
df.to_csv('cian_parses_vtorich_apart.csv', header=True)

# Соединяем все данные вместе

In [738]:
df_novo_ne_apart = pd.read_csv('cian_parses_novo_ne_apart.csv')
print(df_novo_ne_apart.shape)
df_novo_ne_apart.head(5)

(296, 15)

,Unnamed: 0,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,0,https://www.cian.ru/sale/flat/303040538/,36852900,6.0,ЦАО,48.30,23.9,5.0,8.0,2028.0,1,0,3.30,1,0.18
1,1,https://www.cian.ru/sale/flat/305679460/,16739900,17.0,ЮАО,38.93,10.7,3.0,20.0,2024.0,1,0,2.85,1,0.18
2,2,https://www.cian.ru/sale/flat/303506233/,18055560,8.0,ЮАО,39.70,13.2,8.0,28.0,2026.0,1,0,3.00,1,0.18
3,3,https://www.cian.ru/sale/flat/305679583/,13984508,17.0,ЮАО,24.93,12.3,6.0,20.0,2024.0,1,0,2.85,1,0.18
4,4,https://www.cian.ru/sale/flat/303859162/,14837840,24.0,ЗАО,38.60,21.6,6.0,27.0,2027.0,1,0,2.92,1,0.18

In [739]:
df_novo_apart = pd.read_csv('cian_parses_novo_apart.csv')
print(df_novo_apart.shape)
df_novo_apart.head(5)

(338, 15)

,Unnamed: 0,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,0,https://www.cian.ru/sale/flat/303040427/,57190400,10.0,ЦАО,51.2,12.3,4.0,6.0,2024.0,1,1,3.23,1,0.18
1,1,https://www.cian.ru/sale/flat/305510051/,98899990,2.0,ЦАО,108.0,36.0,21.0,21.0,2024.0,1,1,NaN,1,0.18
2,2,https://www.cian.ru/sale/flat/289484529/,89010000,1.0,ЦАО,64.5,NaN,8.0,9.0,2023.0,1,1,NaN,1,0.18
3,3,https://www.cian.ru/sale/flat/306205711/,21000000,8.0,ЮАО,39.9,10.8,3.0,13.0,2024.0,1,1,NaN,1,0.18
4,4,https://www.cian.ru/sale/flat/299370745/,19500000,16.0,СЗАО,39.0,12.5,2.0,6.0,2023.0,1,1,3.24,1,0.18

In [740]:
df_vtorich_ne_apart = pd.read_csv('cian_parses_vtorich_ne_apart.csv')
print(df_vtorich_ne_apart.shape)
df_vtorich_ne_apart.head(5)

(517, 15)

,Unnamed: 0,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,0,https://www.cian.ru/sale/flat/303387198/,11700000,20.0,НАО (Новомосковский),30.0,13.0,18.0,22.0,2022.0,0,0,NaN,1,0.18
1,1,https://www.cian.ru/sale/flat/299890518/,32000000,11.0,САО,41.5,23.4,9.0,40.0,2021.0,0,0,NaN,1,0.18
2,2,https://www.cian.ru/sale/flat/305418931/,7500000,4.0,НАО (Новомосковский),39.0,14.0,4.0,16.0,2017.0,0,0,2.80,1,0.18
3,3,https://www.cian.ru/sale/flat/306327699/,16900000,8.0,СЗАО,46.0,21.0,8.0,12.0,1976.0,0,0,2.64,1,0.18
4,4,https://www.cian.ru/sale/flat/304600438/,21500000,14.0,СЗАО,30.0,12.0,28.0,44.0,2023.0,0,0,3.20,1,0.18

In [741]:
df_vtorich_apart = pd.read_csv('cian_parses_vtorich_apart.csv')
print(df_vtorich_apart.shape)
df_vtorich_apart.head(5)

(786, 15)

,Unnamed: 0,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,0,https://www.cian.ru/sale/flat/301496936/,58786000,2.0,ЦАО,53.2,NaN,7.0,8.0,NaN,0,1,NaN,1,0.18
1,1,https://www.cian.ru/sale/flat/298880305/,28100000,13.0,ЦАО,57.0,44.0,2.0,44.0,2018.0,0,1,NaN,1,0.18
2,2,https://www.cian.ru/sale/flat/303486739/,6000000,16.0,ВАО,28.3,13.0,5.0,6.0,NaN,0,1,NaN,1,0.18
3,3,https://www.cian.ru/sale/flat/305335849/,24000000,6.0,ЦАО,42.0,NaN,2.0,10.0,2015.0,0,1,NaN,1,0.18
4,4,https://www.cian.ru/sale/flat/302748882/,6000000,6.0,ЮВАО,24.0,NaN,2.0,NaN,NaN,0,1,NaN,1,0.18

In [742]:
df_final = pd.concat([df_novo_ne_apart, df_novo_apart, df_vtorich_ne_apart, df_vtorich_apart], ignore_index=True)

In [746]:
df_final.drop(columns = ['Unnamed: 0'], inplace = True)

In [748]:
df_final

,link,price,min_to_metro,region_of_moscow,total_area,living_area,floor,number_of_floors,construction_year,is_new,is_apartments,ceiling_height,number_of_rooms,key_rent
0,https://www.cian.ru/sale/flat/303040538/,36852900,6.0,ЦАО,48.30,23.9,5.0,8.0,2028.0,1,0,3.30,1,0.18
1,https://www.cian.ru/sale/flat/305679460/,16739900,17.0,ЮАО,38.93,10.7,3.0,20.0,2024.0,1,0,2.85,1,0.18
2,https://www.cian.ru/sale/flat/303506233/,18055560,8.0,ЮАО,39.70,13.2,8.0,28.0,2026.0,1,0,3.00,1,0.18
3,https://www.cian.ru/sale/flat/305679583/,13984508,17.0,ЮАО,24.93,12.3,6.0,20.0,2024.0,1,0,2.85,1,0.18
4,https://www.cian.ru/sale/flat/303859162/,14837840,24.0,ЗАО,38.60,21.6,6.0,27.0,2027.0,1,0,2.92,1,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,https://www.cian.ru/sale/flat/302092616/,238163120,2.0,ЦАО,189.00,NaN,34.0,NaN,NaN,0,1,NaN,3,0.18
1933,https://www.cian.ru/sale/flat/300466720/,485486360,2.0,ЦАО,269.40,NaN,69.0,NaN,NaN,0,1,NaN,3,0.18
1934,https://www.cian.ru/sale/flat/306281550/,23000000,2.0,ЮВАО,75.00,50.0,1.0,5.0,1933.0,0,1,3.00,3,0.18
1935,https://www.cian.ru/sale/flat/305487551/,135400000,11.0,ЦАО,120.00,NaN,6.0,8.0,NaN,0,1,NaN,3,0.18
1936,https://www.cian.ru/sale/flat/305872644/,330000000,1.0,ЦАО,160.30,70.0,4.0,9.0,NaN,0,1,NaN,3,0.18

In [772]:
df_final.to_csv('df_final.csv', header=True)